---
import Container from '@components/container/container.astro'
import Link from '@components/uikit/Link/Link.astro'
import Title from '@components/uikit/Title/Title.astro'
import Choice from '@components/uikit/Choice/Choice.astro'
import './style.scss'
import Icon from '@components/uikit/Icon/Icon.astro'

export interface Props {
    title?: string;
    modifier?: string;
}

const { title, modifier } = Astro.props;
---
<section class:list={["shop", modifier? `shop--${modifier}`:'']}>
    {
        modifier?
        <a href="javascript:void(0);" class="shop__show-map">
            <div class="shop__map-icon">
                <Icon name="map-pin" mod="white"/>
            </div>
            <p class="shop__map-text">
                Показать на карте
            </p>
        </a>:
        ''
    }
    <Container>
        <div class="shop__wrapper">
            <Title Tag="h2" class="shop">{
                    title?
                    `${title}`:
                    'Магазины'
                }</Title>
            <Choice class="shop"></Choice>
            <ul class="slider slider--shop">
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Хабаровск, ул. Ленинградская 28, ТЦ ЭкоДом, сектор дверей
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Новокузнецк, Октябрьский проспект, 13
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Самара, ул. Красноармейская, д.1, ТЦ "Кубатура", к. 1, 1 этаж, секция 117.6
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                    </address>
                </li>
                <!-- Повторяющиеся -->
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Новокузнецк, Октябрьский проспект, 13
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Самара, ул. Красноармейская, д.1, ТЦ "Кубатура", к. 1, 1 этаж, секция 117.6
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Самара, ул. Красноармейская, д.1, ТЦ "Кубатура", к. 1, 1 этаж, секция 117.6
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                    </address>
                </li>
                <li class="slider__item">
                    <Title Tag="h3" class="shop-slider">Фирменный салон ESTET</Title>
                    <address class="slider__text">
                        г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                    </address>
                </li>
            </ul>
            <div class="shop__row-wrapper">
                <Link href='javascript:void(0);' class="link--shop">Все салоны</Link>
                <div class="arrow-box">
                <button class="arrow arrow--shop-prev"></button>
                <button class="arrow arrow--shop-next"></button>
                </div>
            </div>
        </div>
    </Container>
</section>
<script src="./script.js"></script>