---
import './style.scss'
---
<section class="shop">
    <div class="container">
        <h2 class="title">Магазины</h2>
        <div class="choice">
            <img src="" alt="" class="choice__icon">
             <select name="location" class="choice__list">
                <option value="Нижний новгород" selected>Нижний новгород</option>
                <option value="Новокузнецк">Новокузнецк</option>
                <option value="Ульяновск">Ульяновск</option>
                <option value="Самара">Самара</option>
                <option value="Хабаровск">Хабаровск</option>
             </select>
        </div>
        <ul class="slider slider--shop">
            <li class="slider__item">
                <h3 class="title title--shop">Фирменный салон ESTET</h3>
                <address class="slider__text">
                    Советский район, ул. Бекетова, д.13, литер "А", СЦ Бекетов, 3
                </address>
            </li>
            <li class="slider__item">
                <h3 class="title title--shop">Фирменный салон ESTET</h3>
                <address class="slider__text">
                    г. Хабаровск, ул. Ленинградская 28, ТЦ ЭкоДом, сектор дверей
                </address>
            </li>
            <li class="slider__item">
                <h3 class="title title--shop">Фирменный салон ESTET</h3>
                <address class="slider__text">
                    г. Новокузнецк, Октябрьский проспект, 13
                </address>
            </li>
            <li class="slider__item">
                <h3 class="title title--shop">Фирменный салон ESTET</h3>
                <address class="slider__text">
                    г. Самара, ул. Красноармейская, д.1, ТЦ "Кубатура", к. 1, 1 этаж, секция 117.6
                </address>
            </li>
            <li class="slider__item">
                <h3 class="title title--shop">Фирменный салон ESTET</h3>
                <address class="slider__text">
                    г. Ульяновск, ул.Шолмова 20, ТЦ СтройГрад, 3 этаж, салон 85
                </address>
            </li>
        </ul>
    </div>
</section>
<script src="./script.js"></script>