@import "../../../node_modules/slick-slider/slick/slick.scss";
@import '../../assets/styles/global.scss';

.shop {
    padding-top: 46px;
    padding-bottom: 55px;
    background-color: $cl-cl-gray-f9;
    overflow-x: hidden;

    &__wrapper {
        margin-right: -25px;
    }

    &__row-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    & .arrow-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 145px;
        height: 28px;
        margin-right: 25px;
        cursor: pointer;
    }

    & .arrow--shop-prev,
    & .arrow--shop-next {
        position: relative;
        width: 61px;
        height: 28px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    & .arrow--shop-prev::before,
    & .arrow--shop-next::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 61px;
        height: 1px;
        background-color: $cl-green;
    }

    & .arrow--shop-prev::before {
        left: 0;
    }

    & .arrow--shop-next::before {
        right: 0;
    }

    & .arrow--shop-prev::after,
    & .arrow--shop-next::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 5px;
        height: 5px;
        border-left: 1px solid $cl-green;
        border-top: 1px solid $cl-green;
    }

    & .arrow--shop-prev::after {
        transform: translateY(-50%) rotate(-45deg);
        left: 0;
    }

    & .arrow--shop-next::after {
        transform: translateY(-50%) rotate(135deg);
        right: 0;
    }

    &--doors {
        padding-bottom: 110px;
    }

    &__show-map {
        font-size: 16px;
        line-height: 28px;
        color: $cl-white;

        display: flex;
        gap: 18px;
        background-color: $cl-green;
        width: fit-content;
        padding: 15px 28px 15px 18px;
        margin-left: auto;
        margin-bottom: 26px;

        &:active {
            background-color: $cl-lite-green;
        }
    }

    &__map-icon {
        font-size: 28px;
    }

    &__map-text  {
        margin: 0;
    }

    &--doors .title--shop {
        margin-bottom: 40px;
    }
}

.slider--shop {
    display: flex;
    margin-bottom: 28px;
    padding-left: 43px;
    background-color: $cl-white;
    width: 100%;

    & .slider__item {
        list-style: none;
    }

    & .slider__text {
        font-size: 14px;
        font-style: normal;
        color: $cl-gray-3c;
        line-height: normal;
    }

    & .slick-track {
        display: flex;
        padding-top: 50px;
        padding-bottom: 16px;
    }

    & .slick-slide {
        min-width: 173px;
        max-width: 226px;
        margin-right: 37px;
    }
}

@media (min-width: #{$tablet + 'px'}) {
    .shop {
        padding-top: 61px;
        padding-bottom: 80px;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 0 135px;
            margin-right: -84px;
        }

        & .arrow-box {
            margin-right: 84px;
        }

        &--doors .slider--shop {

            & .slick-slide {

                & > div {
                    margin-bottom: 66px;
                }
            }
        }

        &--doors &__wrapper {
            margin-left: -6px;
            gap: 0 90px;
        }


        &__show-map {
            margin-bottom: 44px;
        }
    }

    .slider--shop {
        margin-bottom: 43px;
        padding-left: 40px;

        & .slick-list {
            margin-right: 84px;
        }

        & .slick-track {
            padding-top: 51px;
            padding-bottom: 56px;
        }

        & .slick-slide {
            min-width: 226px;
            margin-right: 56px;

            & > div {
                margin-bottom: 51px;
            }

            & > div:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .shop {
        padding-top: 61px;
        padding-bottom: 50px;

        &__wrapper {
            gap: 0 134px;
            margin-right: -200px;
        }

        &__row-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        & .arrow-box {
            margin-right: 200px;
        }

        &--doors &__wrapper {
            margin-left: 0;
            column-gap: 190px;
        }

        &__show-map {
            display: none;
        }
    }

    .slider--shop {
        margin-bottom: 22px;

        & .slick-list {
            margin-right: 0;
        }

        & .slick-slide {
            margin-right: 70px;
        }

        & .slick-slide > div {
            margin-bottom: 0;
        }
    }
}