---
import Text from '@components/uikit/Text/Text.astro'
import './style.scss'
import Container from '@components/container/container.astro'
import Title from '@components/uikit/Title/Title.astro'
import Icon from '@components/uikit/Icon/Icon.astro'
import Arrow from '@components/uikit/Arrow/Arrow.astro'

const slides = [
    {
        text: 'Современный ремонт квартиры-студии!',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'ESTET воплощает мечты',
        video: '/public/video/review/placeholder.mp4',
        active: true
    },
    {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Современный ремонт квартиры-студии!',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    },
     {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Современный ремонт квартиры-студии!',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    },
    {
        text: 'Двери ESTET. Жизнь фабрики.',
        video: '/public/video/review/placeholder.mp4'
    }
]
---
<section class="review">
    <Container >
        <div class="review__slider">
            <Title Tag='h2' class="review">Видео обзор</Title>
            <div class="review__video-container">
                <video class="review__video" muted="true" poster="/images/review/placeholder.jpg" src="/public/video/review/placeholder.mp4"/>
                <!-- <Icon name='video' mod='video-play'/> -->
                <Icon name='play' mod='video-review'/>
                <Icon name='pause' mod='video-review'/>
            </div>
            <div class="review__wrapper">
                <div class="review__list">
                    {slides.map((slide) => (
                        <div class={`review__item ${slide.active ? 'review__item--active' : ''}`} data-video={slide.video}>
                            <Icon name='video' mod='video-review'/>
                            <Text class="review">{slide.text}</Text>
                        </div>
                    ))}
                </div>
                <div class="review__arrow-container">
                    <Arrow modifier='adaptive-left'/>
                    <Arrow modifier='adaptive-right'/>
                </div>
                <!-- <button class="review__button review__button--prev" type="button">Назад</button>
                <button class="review__button" type="button">Вперёд</button> -->
            </div>
            <div class="review__container">
                <Icon name="youtube-video" mod="youtube-video"/>
                <Text class='review-small'>
                    Еще больше новых обзоров вы найдете  на нашем <a class="review__link">Youtube</a> канале
                </Text>
            </div>
        </div>
    </Container>
</section>
<script src="./script.js"></script>