---
import Text from '@components/uikit/Text/Text.astro'
import './style.scss'
import Container from '@components/container/container.astro'
import Title from '@components/uikit/Title/Title.astro'
---
<section class="review">
    <Container >
        <Title Tag='h2' class="review">Видео обзор</Title>
        <div class="review__slider">
            <video class="review__video" muted="true" poster="/images/review/placeholder-desktop.jpg" controls/>
            <div class="review__wrapper">
                <ul class="review__list">
                    <li class="review__item">
                        <Text class="review">Современный ремонт квартиры-студии!</Text>
                    </li>
                    <li class="review__item review__item--active">
                        <Text class="review">ESTET воплощает мечты</Text>
                    </li>
                    <li class="review__item">
                        <Text class="review">Двери ESTET. Жизнь фабрики.</Text>
                    </li>
                    <li class="review__item">
                        <Text class="review">Современный ремонт квартиры-студии!</Text>
                    </li>
                    <li class="review__item">
                        <Text class="review">Двери ESTET. Жизнь фабрики.</Text>
                    </li>
                    <li class="review__item review__item--hidden">
                        <Text class="review">Двери ESTET. Жизнь фабрики.</Text>
                    </li>
                </ul>
                <button class="review__button review__button--prev" type="button">Назад</button>
                <button class="review__button" type="button">Вперёд</button>
            </div>
        </div>
        <div class="review__container">
            <Text class='review-small'>
                Еще больше новых обзоров вы найдете  на нашем <a class="review__link">Youtube</a> канале
            </Text>
        </div>
    </Container>
</section>
<script src="./script.js"></script>