---
import Icon from '../Icon/Icon.astro'
import './style.scss'

export interface Props {
    mod?: string;
    href?: string;
    text?: string;
}

let {mod, href, text} = Astro.props;

if (!href) {
    href = "javascript:void(0);";
}
if (typeof(text) !== 'string') {
    text = "Обратный звонок"
}
---

<a href={href} class={`call-back ${mod && `call-back--${mod}`}`}>
    <div class="call-back__icon">
        <Icon name="phone" mod="white"/>
    </div>
    <p class="call-back__text">
        {text}
    </p>
</a>

<script src="./script.js"></script>