@use "/src/assets/styles/global.scss" as *;

.service {
    padding: 63px 0 42px;


    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0 0 46px -25px;
        list-style: none;

        &:last-child {
            margin-bottom: 0;
        }

        &--guarantee {
            position: relative;
            padding-top: 216px;
            background-image: url("/images/service/guarantee.jpg");
            background-repeat: no-repeat;

            &::before {
                font-family: 'Lora', 'Times New Roman', 'serif';
                font-size: 150px;
                font-weight: 700;
                position: absolute;
                content: '5';
                top: 154px;
                left: 30px;
                color: $cl-white;
            }

            &::after {
                font-family: 'Lora', 'Times New Roman', 'serif';
                font-size: 60px;
                font-weight: 700;
                letter-spacing: 0;
                position: absolute;
                content: 'Лет';
                top: 186px;
                right: 48px;
                color: $cl-green;
            }
        }
        &--service {
            position: relative;
            padding-top: 224px;
            background-image: url("/images/service/service.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 -25px;
        }
    }

    @media (min-width: ($tablet + 'px')) {
        padding-bottom: 78px;
        &__list {
            display: flex;
            margin: 0 -82px 0;
            justify-content: space-between;
        }

        &__item {
            width: 48.3%;
            padding-top: 270px;

            &--guarantee {
                margin-left: 0;
                padding-left: 82px;
                background-image: url('/images/service/guarantee-tablet.jpg');

                &::before {
                    top: 172px;
                    left: 34px;
                }

                &::after {
                    display: none;
                }
            }

            &--service {
                padding-top: 258px;
                margin: 70px 0 0 0;
                background-image: url("/images/service/service-tablet.jpg");
            }
        }
    }

    @media (min-width: ($desktop-min + 'px')) {

        &__list {
            margin: 0;
            column-gap: 42px;
        }

        &__item {
            &--guarantee {
                padding-top: 410px;
                padding-left: 62px;
                background-image: url("images/service/guarantee-desktop.jpg");

                &::before {
                    top: 254px;
                    left: 54px;
                    font-size: 200px;
                }
            }

            &--service {
                margin-top: 109px;
                padding-top: 412px;
                background-image: url("/images/service/service-desktop.jpg");
            }
        }
    }
}