---
import './style.scss'
interface Props {
    class?: string;
}
const {
    class: className,
    ...rest
    } = Astro.props;
---

<div {...rest}
class:list={[
    "choice",
    className,
]}>
    <img src="" alt="" class="choice__icon">
     <select name="location" class="choice__list">
        <option value="Нижний новгород" selected>Нижний новгород</option>
        <option value="Новокузнецк">Новокузнецк</option>
        <option value="Ульяновск">Ульяновск</option>
        <option value="Самара">Самара</option>
        <option value="Хабаровск">Хабаровск</option>
     </select>
</div>

<script src="./script.js"></script>