---
import Icon from '../Icon/Icon.astro';
import './style.scss'
interface Props {
    class?: string;
}
const {
    class: className,
    ...rest
    } = Astro.props;
---

<div
    {...rest}
    class:list={[
    "choice",
    `${className? `choice--${className}` : ''}`,
    ]}
>
    <div class="choice__box">
        <input class="choice__hidden-input" type="hidden" name="location" value="">
        <div class="choice__row">
            <Icon name="shape" mod='green'></Icon>
            <span class="choice__value"></span>
        </div>
        <ul class="choice__options">
            <!-- initialOptions -->
        </ul>
    </div>
</div>

<script src="./script.js"></script>