---
import './style.scss'
import Container from '@components/container/container.astro'
import Arrow from '@components/uikit/Arrow/Arrow.astro'
import SaleSlider from '@components/uikit/sale-slider/sale-slider.astro'
---


<section class="sale">
    <Container>
        <div class="sale__wrapper">
            <SaleSlider />
            <div class="sale__arrow-box">
                <Arrow modifier='sale-slider' direction='left'/>
                <Arrow modifier='sale-slider' direction='right'/>
            </div>
        </div>
    </Container>
</section>

<script src="./script.js"></script>