@use '/src/assets/styles/global.scss' as *;

.sale {
    position: relative;
    background-image: linear-gradient(to top, $cl-gray-f7 77%, transparent 77%);
    padding-bottom: 35px;

    &--inner {
        padding-bottom: 108px;

        @media (min-width: ($tablet + 'px')) {
            background: $cl-white;
            padding-bottom: 98px;
        }
    }

    &__arrow-box{
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (min-width: ($tablet + 'px')) {
    .sale {
        background-image: none;
    }
}

@media (min-width: ($desktop + 'px')) {
    .sale {
        padding-top: 53px;

        &--inner {
            padding-top: 0;
            background-image: linear-gradient(to top, $cl-gray-f7 80%, transparent 80%);
        }

        &__wrapper {
            position: relative;
        }

        &__arrow-box{
            display: flex;
        }
    }
}