@use '/src/assets/styles/global.scss' as *;

.sale {
    position: relative;
    background-image: linear-gradient(to top, $cl-gray-f7 80%, transparent 80%);
    padding-bottom: 35px;

    &__arrow-box{
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (min-width: ($desktop + 'px')) {
    .sale {
        background-image: none;
        padding-top: 53px;

        &__wrapper {
            position: relative;
        }

        &__arrow-box{
            display: flex;
        }
    }
}