@import '../../assets/styles/global.scss';

.container {
    padding: 0 25px;

    margin: 0 auto;
}

@media (min-width: #{$tablet + 'px'}) {
    .container {
        padding: 0 84px;
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .container {
        max-width: 1200px;
        padding: 0 ;
    }
}