@import '../../assets/styles/global.scss';

.container {
    padding: 0 25px;

    margin: 0 auto;
}

@media (min-width: #{$tablet + 'px'}) {
    .container {
        padding: 0 84px;
        max-width: 1600px;
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .container {
        padding: 0 200px;
    }
}