@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/opensans/opensans-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/opensans/opensans-light.woff2') format('woff2');
}

@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/opensans/opensans-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/opensans/opensans-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'lora';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/lora/lora-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'lora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lora/lora-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'lucida';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/lucida/lucida-grande-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'lucida';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lucida/sfns-display.woff2') format('woff2');
}