---
import Button from '@components/uikit/Button/Button.astro'
import Icon from '@components/uikit/Icon/Icon.astro'
import './style.scss'
---

<aside class="aside">
    <div class="aside__wrapper">
        <p class="aside__text">1567 дверей</p>
        <div class="aside__button-wrapper">
            <Button class="button--aside button--pink button--block" id="collectionsButton">Коллекции</Button>
            <Button class="button--aside button--block" id="allDoorsButton">Все двери</Button>
            <Button class="button--filter" type="button">
                <Icon name="filter" mod="filter" />
            </Button>
        </div>
        <form class="aside__filter">
            <div class="filter">
                <div class="filter__opener">
                    Коллекции
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--collection" data-name="collection" data-value="">
                    <li class="filter__item" data-value="bliss">bliss</li>
                    <li class="filter__item" data-value="urban">urban</li>
                    <li class="filter__item" data-value="perfect">perfect</li>
                    <li class="filter__item" data-value="sonata">sonata</li>
                    <li class="filter__item" data-value="novella">novella</li>
                    <li class="filter__item" data-value="mio">mio</li>
                    <li class="filter__item" data-value="ways">ways</li>
                    <li class="filter__item" data-value="royal">royal</li>
                    <li class="filter__item" data-value="perfect-volume">perfect volume</li>
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Стиль
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--style" data-name="style" data-value="">
                    <li class="filter__item" data-value="modern">Современный</li>
                    <li class="filter__item" data-value="classic">Классический</li>
                    <li class="filter__item" data-value="neo-classic">Неоклассический</li>
                    <li class="filter__item" data-value="disain">Дизайнерский</li>
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Цвета
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list-input filter__list--colors">
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/dark.png" alt="" />
                            Темный
                            <input class="filter__choice" type="checkbox" name="color" value="dark" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/brown.png" alt="" />
                            Коричневый
                            <input class="filter__choice" type="checkbox" name="color" value="brown" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/beige.png" alt="" />
                            Бежевый
                            <input class="filter__choice" type="checkbox" name="color" value="beige" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/gray.png" alt="" />
                            Серый
                            <input class="filter__choice" type="checkbox" name="color" value="gray" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/white.png" alt="" />
                            Белый
                            <input class="filter__choice" type="checkbox" name="color" value="white" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/marble.png" alt="" />
                            Мраморный
                            <input class="filter__choice" type="checkbox" name="color" value="marble" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/yellow.png" alt="" />
                            Жёлтый
                            <input class="filter__choice" type="checkbox" name="color" value="yellow" />
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__choice-label">
                            <img class="filter__choice-textures" src="/images/card/texture/green.png" alt="" />
                            Зелёный
                            <input class="filter__choice" type="checkbox" name="color" value="green" />
                        </label>
                    </li>

                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Отделка
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list--trim" data-name="finishing" data-value="">
                    <li class="filter__item" data-value="enamel">Эмаль</li>
                    <li class="filter__item" data-value="coating">Покрытие</li>
                </ul>
            </div>
            <div class="filter">
                <div class="filter__opener">
                    Цена
                    <Icon name="small-arrow" mod="opener" />
                </div>
                <ul class="filter__list filter__list-input filter__list--price">
                    <li class="filter__item">
                        <input class="filter__button-range" type="range" id="priceMinRange" min="5000" max="100000"
                            step="500">
                    </li>
                </ul>
            </div>
            <button class="filter__button filter__button--reset" type="button">
                Сбросить все
                <Icon name="reset" mod="reset" />
            </button>
            <label class="filter__button filter__button--only-action">
                <input type="checkbox" class="filter__btn" name="discount"/>
                <span class="filter__label">Только по акции</span>
            </label>
        </form>
    </div>
</aside>

<script src="./script.js"></script>