---
import Button from '@components/uikit/Button/Button.astro'
import Link from '@components/uikit/Link/Link.astro'
import Logotype from '@components/uikit/logotype/logotype.astro'
import CallBack from '@components/uikit/CallBack/CallBack.astro'
import Icon from '@components/uikit/Icon/Icon.astro'
import './style.scss'
---

<aside class="aside">
    <div class="aside__header">
        <div class="aside__logo-wrapper">
            <Logotype />
        </div>
        <CallBack modifier="aside"/>
        <Link href="tel:88005513240" class="link--aside">8 800 551 32 40</Link>
    </div>
    <p class="aside__text">1567 дверей</p>
    <div class="aside__button-wrapper">
        <Button class="button--aside button--pink button--block">Коллекции</Button>
        <Button class="button--aside button--green button--block">Все двери</Button>
        <Button class="button--filter">
            <Icon name="filter" mod="aside"/>
        </Button>
    </div>
    <div class="aside__filter">
        <div class="filter">
            <button class="filter__opener">Коллекции</button>
            <ul class="filter__list filter__list--collection">
                <li class="filter__item">bliss</li>
                <li class="filter__item">urban</li>
                <li class="filter__item">perfect</li>
                <li class="filter__item">novella</li>
                <li class="filter__item">mio</li>
                <li class="filter__item">ways</li>
                <li class="filter__item">royal</li>
                <li class="filter__item">perfect volume</li>
            </ul>
        </div>
        <div class="filter">
            <button class="filter__opener">Стиль</button>
            <ul class="filter__list filter__list--style">
                <li class="filter__item">Современный</li>
                <li class="filter__item">Классический</li>
                <li class="filter__item">Неоклассический</li>
                <li class="filter__item">Дизайнерский</li>
            </ul>
        </div>
        <div class="filter">
            <button class="filter__opener">Отделка</button>
            <ul class="filter__list filter__list--trim">
                <li class="filter__item">Эмаль</li>
                <li class="filter__item">Покрытие</li>
            </ul>
        </div>
        <div class="filter">
            <button class="filter__opener">Цена</button>
            <ul class="filter__list filter__list--price">
                <li class="filter__item">
                    <input type="range" id="price-range" min="0" max="50000" step="500">
                </li>
            </ul>
        </div>
        <button class="filter__button filter__button--reset">
            Сбросить все
            <Icon name="reset" mod="reset"/>
        </button>
        <label class="filter__label">
            <Icon name="square" mod="square"/>
            <input type="checkbox" class="filter__button filter__button--only-action">Только по акции</input>
        </label>
    </div>
</aside>

<script src="./script.js"></script>