@import '../../assets/styles/global.scss';

.aside {
    margin-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;

    &__header {
        display: none;
    }

    &__text {
        font-size: 16px;
        color: $cl-gray-3c;
        line-height: 35px;
        letter-spacing: 4.4px;
        margin-top: 0;
        margin-bottom: 22px;
    }

    &__button-wrapper {
        display: flex;
    }

    &__filter {
        display: none;
    }

    @media(min-width: ($tablet + 'px')) {
        margin-bottom: 75px;
        padding-right: 66px;
        padding-left: 66px;
    }

    @media(min-width: ($desktop + 'px')) {
        width: 320px;

        &__header {
            display: block;
        }

        &__text {
            color: $cl-white;
        }

        &__button-wrapper {
            display: block;
        }

        &__filter {
            display: block;

            & .filter {
                &__button {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 48px;
                    color: $cl-black;
                    text-align: start;
                    padding: 0 10px 0 0;
                    margin-right: 31px;
                    width: calc(100% - 31px);
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 1px solid $cl-gray-e0;
                    background-color: transparent;
                }
            }
        }
    }
}