---
import './style.scss'
---

<div class="arrow-box">
	<button class="arrow arrow--bg arrow--bg-green">
        
    </button>
	<button class="arrow arrow--bg arrow--bg-green">

    </button>
</div>

<script src="./script.js"></script>