---
import Icon from '../Icon/Icon.astro';
import './style.scss'

export interface Props {
    mod?: string;
    direction?: string;
}

const { mod, direction } = Astro.props
---

<button class:list={['arrow', mod?`arrow--${mod}`: '', direction? `arrow--${direction}`: '']}>
    <Icon name='arrow-26'/>
</button>

<script src="./script.js"></script>