---
import Icon from '../Icon/Icon.astro';
import './style.scss'

export interface Props {
    modifier?: string;
    direction?: string;
}

const { modifier, direction } = Astro.props
---

<button class:list={['arrow', modifier?`arrow--${modifier}`: '', direction? `arrow--${direction}`: '']}>
    <Icon name='arrow-26'/>
</button>

<script src="./script.js"></script>