---
import Title from '@components/uikit/Title/Title.astro'
import './style.scss'
import Breadcrumbs from '@components/uikit/Breadcrumbs/Breadcrumbs.astro'
import Button from '@components/uikit/Button/Button.astro'

const links = [
        {
            href:'javascript:void(0);',
            title:'Главная'
        },
        {   href:'javascript:void(0);',
            title:"Межкомнатные двери"
        },
        {
            href:'javascript:void(0);',
            title:"Все двери"
        }];
---

<section class="intro-inner">
    <picture class="intro-inner__background">
        <source srcset="/images/intro-inner/background.webp">
        <img src="/images/intro-inner/background.jpg" alt="" class="intro-inner__image">
    </picture>
    <div class="intro-inner__filter" />
    <Breadcrumbs links={links} mod='inner'/>
    <Title class="intro-inner">Межкомнатные двери</Title>

    <Button class="button--intro-inner">Заказать замер</Button>
</section>

<script src="./script.js"></script>