@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url("icons.woff?19d70fbbd9e338643d9295d06ff365c6") format("woff"),
url("icons.woff2?19d70fbbd9e338643d9295d06ff365c6") format("woff2");
}

.icon, .icon-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.icon-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.icon {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-arrow-108:before { content: "\f101"; }
.icon-basket:before { content: "\f102"; }
.icon-burger-close:before { content: "\f103"; }
.icon-burger:before { content: "\f104"; }
.icon-facebook:before { content: "\f105"; }
.icon-glass:before { content: "\f106"; }
.icon-instagram:before { content: "\f107"; }
.icon-kontora:before { content: "\f108"; }
.icon-language:before { content: "\f109"; }
.icon-like-white:before { content: "\f10a"; }
.icon-like:before { content: "\f10b"; }
.icon-location:before { content: "\f10c"; }
.icon-logo-white:before { content: "\f10d"; }
.icon-loupe:before { content: "\f10e"; }
.icon-next-arrow:before { content: "\f10f"; }
.icon-phone:before { content: "\f110"; }
.icon-prev-arrow:before { content: "\f111"; }
.icon-shape:before { content: "\f112"; }
.icon-telegram:before { content: "\f113"; }
.icon-tiny-arrow:before { content: "\f114"; }
.icon-viber:before { content: "\f115"; }
.icon-video:before { content: "\f116"; }
.icon-vk:before { content: "\f117"; }
.icon-youtube:before { content: "\f118"; }
