---
import './style.scss'
---

<div class="personal">
    <div class="personal__item">
        <button class="personal__button">
            <img src="/src/assets/images/icons/like.svg" alt="like" width="21px" height="18px">
        </button>
        <div class="personal__quantity">100</div>
    </div>
    <div class="personal__item">
        <button class="personal__button">
            <img src="/src/assets/images/icons/basket.svg" alt="like" width="21px" height="20px">
        </button>
        <div class="personal__quantity">100</div>
    </div>
</div>

<script src="./script.js"></script>