---
import './style.scss'
---

<div class="personal">
    <div class="personal__likes">
        <butotn class="personal__button">
            <img src="/src/assets/images/icons/like.svg" alt="like" width="21px" height="18px">
        </butotn>
        <div class="personal__quantity">100</div>
    </div>
    <div class="personal__basket">
        <butotn class="personal__button">
            <img src="/src/assets/images/icons/basket.svg" alt="like" width="21px" height="20px">
        </butotn>
        <div class="personal__quantity">100</div>
    </div>
</div>


<script src="./script.js"></script>