---
import Icon from '../Icon/Icon.astro'
import './style.scss'
---

<div class="personal">
    <div class="personal__item">
        <button class="personal__button">
            <Icon name="like" mod="white"/>
        </button>
        <div class="personal__quantity">100</div>
    </div>
    <div class="personal__item">
        <button class="personal__button personal__button--basket">
            <Icon name="basket" mod="white"/>
        </button>
        <div class="personal__quantity">100</div>
    </div>
</div>

<script src="./script.js"></script>