---
import logotype from '@components/uikit/logotype/logotype.astro'
import './style.scss'
import Logotype from '@components/uikit/logotype/logotype.astro'
---

<section class="about">
    <div class="about__container">
        <div class="arrow-box">
            <button class="arrow arrow--prev ">
                <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5 4.5H0.5H25.5Z" fill="#D8D8D8" />
                    <path d="M25.5 4H26V5H25.5V4ZM0.146446 4.85355C-0.0488148 4.65829 -0.0488148 4.34171 0.146446 4.14645L3.32843 0.964466C3.52369 0.769204 3.84027 0.769204 4.03553 0.964466C4.2308 1.15973 4.2308 1.47631 4.03553 1.67157L1.20711 4.5L4.03553 7.32843C4.2308 7.52369 4.2308 7.84027 4.03553 8.03553C3.84027 8.2308 3.52369 8.2308 3.32843 8.03553L0.146446 4.85355ZM25.5 5H0.5V4H25.5V5Z" fill="#1E8A47" />
                </svg>
            </button>
            <button class="arrow arrow--next ">
                <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 4.5H25.5H0.5Z" fill="white" />
                    <path d="M0.5 4H0V5H0.5V4ZM25.8536 4.85355C26.0488 4.65829 26.0488 4.34171 25.8536 4.14645L22.6716 0.964466C22.4763 0.769204 22.1597 0.769204 21.9645 0.964466C21.7692 1.15973 21.7692 1.47631 21.9645 1.67157L24.7929 4.5L21.9645 7.32843C21.7692 7.52369 21.7692 7.84027 21.9645 8.03553C22.1597 8.2308 22.4763 8.2308 22.6716 8.03553L25.8536 4.85355ZM0.5 5H25.5V4H0.5V5Z" fill="white" />
                </svg>
            </button>
        </div>
        <div class="about__inner">
            <div class="about__main">
                <h2 class="about__title">ESTET</h2>
                <p class="about__subtitle">Дверные технологии ESTET превращают квадратные метры в&nbsp;уютный Дом, пространство в&nbsp;удобное и&nbsp;прекрасное Жильё. Наши двери создают неповторимые ощущения, когда каждый день&nbsp;Вы открываете дверь и&nbsp;вместе с&nbsp;тем что-то новое, а&nbsp;главное&nbsp;&mdash; открываете с удовольствием!</p>
            </div>
            <div class="about__wrapper about__wrapper--solution">
                <picture class="about__image-box about__image-box--solution">
                    <source srcset="/public/images/about/solution-tablet.webp" type="image/webp" media="(min-width:768px)" >
                    <source srcset="/public/images/about/solution-tablet.jpg" type="image/jpg" media="(min-width:768px)" >
                    <source srcset="/public/images/about/solution-mobile.webp" type="image/webp">
                    <img class="about__image about__image--solution" src="/public/images/about/solution-mobile.jpg" alt="">
                </picture>
                <div class="about__descr about__descr--solution">
                    <p class="about__caption">Современные интерьерные решения</p>
                    <p class="about__subcaption">Межкомнатные и&nbsp;офисные двери с&nbsp;богатой цветовой гаммой, стильным дизайном, различными вариантами исполнения и&nbsp;нестандартными размерами</p>
                </div>
            </div>
            <div class="about__wrapper about__wrapper--empty">
                <picture class="about__image-box about__image-box--empty">
                    <source srcset="/public/images/about/empty-tablet.webp" type="image/webp">
                    <img class="about__image about__image--empty" src="/public/images/about/empty-tablet.jpg" alt="">
                </picture>
            </div>
            <div class="about__wrapper about__wrapper--quality">
                <picture class="about__image-box about__image-box--quality">
                    <source srcset="/public/images/about/quality-tablet.webp" type="image/webp" media="(min-width:768px)" >
                    <source srcset="/public/images/about/quality-tablet.jpg" type="image/jpg" media="(min-width:768px)" >
                    <source srcset="/public/images/about/quality-mobile.webp" type="image/webp">
                    <img class="about__image about__image--quality" src="/public/images/about/quality-mobile.jpg" alt="">
                </picture>
                <div class="about__descr about__descr--quality">
                    <p class="about__caption">Высокое качество</p>
                    <p class="about__subcaption">Все наши двери проходят строжайший контроль качества на&nbsp;всех этапах производства. Следить за&nbsp;качеством, мы&nbsp;считаем, важнейшая задача производителя.</p>
                </div>
            </div>
            <div class="about__wrapper about__wrapper--tech">
                <picture class="about__image-box about__image-box--tech">
                    <source srcset="/public/images/about/tech-tablet.webp" type="image/webp" media="(min-width:768px)" >
                    <source srcset="/public/images/about/tech-tablet.jpg" type="image/jpg" media="(min-width:768px)" >
                    <source srcset="/public/images/about/tech-mobile.webp" type="image/webp">
                    <img class="about__image about__image--tech" src="/public/images/about/tech-mobile.jpg" alt="">
                </picture>
                <div class="about__descr about__descr--tech">
                    <p class="about__caption">Новые технологии</p>
                    <p class="about__subcaption">Каркас двери и&nbsp;дверная коробка изготавливаются из&nbsp;хвойного бруса высокого качества, срощенного по&nbsp;длине и&nbsp;оптимизированного, то&nbsp;есть из&nbsp;него вырезаны сучки, смоляные карманы и&nbsp;другие пороки, присущие натуральному дереву.</p>
                </div>
            </div>
            <div class="about__wrapper about__wrapper--company">
                <picture class="about__image-box about__image-box--company">
                    <source srcset="/public/images/about/company-mobile.webp" type="image/webp">
                    <img class="about__image about__image--company" src="/public/images/about/company-mobile.jpg" alt="">
                </picture>
                <div class="about__descr about__descr--company">
                    <p class="about__caption">Компания</p>
                    <p class="about__subcaption">Мы&nbsp;работаем на&nbsp;рынке производства дверей с&nbsp;2002&nbsp;года. За&nbsp;это время мы&nbsp;зарекомендовали себя как надежный партнер и&nbsp;динамично развивающаяся компания.</p>
                </div>
            </div>
            <div class="about__wrapper about__wrapper--logo">
                <Logotype />
            </div>
        </div>
    </div>
</section>



<script src="./script.js"></script>





<script src="./script.js"></script>