@import "../../../node_modules/slick-slider/slick/slick.scss";
@import '../../assets/styles/global.scss';

.about {
    margin: 0 auto;
    padding: 50px 0;

	&__container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 25px;
    }

    .arrow-box {
        display: flex;
        margin-left: auto;
    }

    .arrow {
        display: block;
        padding: 0;
        width: 60px;
        height: 60px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    .arrow--prev {
        background-color: $cl-white;
    }

    .arrow--next {
        background-color: $cl-green;
    }

    .arrow:hover {
        background-color: $cl-lite-green;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 65px;
        font-weight: 400;
        font-size: 14px;
        line-height: 179%;
        color: #3c3c3c;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    &__image-box {
        display: flex;
        margin-bottom: 22px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__descr--company {
        font-weight: 400;
        color: $cl-gray-3c;
    }

    &__caption {
        margin: 0;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: normal;
    }

    &__subcaption {
        margin: 0;
        font-size: 14px;
        line-height: 179%;
    }
}

@media (min-width: #{$tablet + 'px'}) {
    .about {

        &__container {
            padding: 0;
        }

        .arrow-box {
            display: none;
        }

        &__main {
            width: 58%;
            padding-left: 60px;
            padding-right: 45px;
            order: 1;
        }

        &__subtitle {
            margin-bottom: 0;
        }

        &__wrapper {
            display: inline-block;
            width: 42%;
        }

        &__image-box {
            margin-bottom: 0;
            height: 100%;
        }

        &__caption {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 36px;
        }

        &__descr--solution,
        &__image-box--company,
        &__descr--quality,
        &__descr--tech {
            display: none;
        }

        &__wrapper--solution {
            width: 100%;
            order: -1;
            margin-bottom: 50px;
            padding-right: 85px;
        }

        &__image-box--solution {
            max-height: 650px;
        }

        &__wrapper--empty {
            order: 0;
        }

        &__wrapper--quality {
            margin-bottom: 46px;
            width: 58%;
            order: 3;
        }

        &__image-box--quality {
            max-height: 540px;
        }

        &__wrapper--tech {
            width: 70%;
            order: 4;
        }

        &__wrapper--company {
            order: 2;
        }

        &__descr--company {
            width: 100%;
            height: 100%;
            padding: 55px 40px;
        }

        &__wrapper--logo {
            position: relative;
            width: 30%;
            order: 5;
            background-color: $cl-green;
        }

        &__wrapper--logo .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 57px;
            transition: color 0.6s ease;
        }
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .about {
        max-width: 1600px;

        &__container {
            position: relative;
            max-height: 900px;
            height: 56.25vw;
            overflow: hidden;
        }

        // css for hover-dots
        @keyframes pulse {
            0%  {   opacity: 1;
                    height: 25px;
                    width: 25px;
                    transition: opacity .8s ease;
                }
            50% {   opacity: 0;
                    transform: scale(1.1);
                    transition: opacity .5s ease;
                }
            100% { opacity: 0;
                    transition: opacity .5s ease;
                }
          }

        &__dot {
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            z-index: 1;
            border-radius: 50%;
            box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.9);
            background-color: $cl-white;
            animation: pulse 1s infinite;
        }

        &__dot::before {
            position: absolute;
            content: "";
            border-radius: 100%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            background-color: $cl-green;
            width: 30%;
            height: 30%;
        }

        &__dot:hover {
            opacity: 0;
        }

        &__dot--solution {
            top: 18%;
            left: 15%;
        }

        &__dot--solution:hover ~ &__descr--solution {
            transform: translateX(72%);
            opacity: 1;
        }

        &__inner:has(&__dot--solution:hover) &__wrapper--company {
            z-index: 0;
            opacity: 0;
        }

        &__inner:has(&__dot--solution:hover) &__wrapper--logo,
        &__inner:has(&__dot--quality:hover) &__wrapper--logo,
        &__inner:has(&__dot--company:hover) &__wrapper--logo {
            background-color: $cl-white;
        }

        &__inner:has(&__dot--solution:hover) &__wrapper--logo .icon,
        &__inner:has(&__dot--quality:hover) &__wrapper--logo .icon,
        &__inner:has(&__dot--company:hover) &__wrapper--logo .icon {
            color: $cl-green;
        }

        &__dot--quality {
            top: 24%;
            right: 41%;
        }

        &__dot--quality:hover ~ &__image-box--quality {
            transform: translateY(-53%);
            height: 700px;
        }

        &__dot--quality:hover ~ &__descr--quality {
            transform: translateY(0);
            opacity: 1;
        }

        &__dot--tech {
            bottom: 13%;
            left: 40%;
        }

        &__dot--tech:hover ~ &__inner &__wrapper--tech {
            height: 63.5%;
            transform: translateY(-57.5%);
        }

        &__dot--tech:hover ~ &__inner &__descr--tech {
            transform: translateY(135%);
            opacity: 1;
        }

        &__dot--tech:hover ~ &__inner &__wrapper--company {
            z-index: 0;
            opacity: 0;
        }

        &__dot--tech:hover ~ &__inner &__wrapper--logo {
            background-color: $cl-white;
        }

        &__dot--tech:hover ~ &__inner &__wrapper--logo .icon {
            color: $cl-green;
        }

        &__dot--company {
            top: 8%;
            right: 4%;
            background-color: $cl-green;
        }

        &__dot--company::before {
            background-color: $cl-white;
        }

        &__dot--company:hover ~ &__descr--company {
            color: $cl-white;
            background-color: $cl-green;
        }

        &__dot--company:hover ~ &__image-box--company {
            transform: translateX(-100%);
            opacity: 1;
        }

        // css for blocks

        &__descr {
            padding: 20px;
        }

        &__main {
            padding: 20px;
            width: 40%;
            height: 36.5%;
        }

        &__wrapper--solution {
            position: relative;
            margin-bottom: 0;
            padding-right: 0;
            width: 40%;
            height: 73%;
        }

        &__image-box--solution,
        &__image-box--quality {
            max-height: fit-content;
        }

        &__descr--solution {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            padding: 45px;
            color: $cl-white;
            background-color: $cl-green;
            transform: translateX(0);
            opacity: 0;
            transition: opacity 0.9s ease, transform 0.9s ease;
            z-index: 1;
        }

        &__wrapper--empty {
            width: 20%;
            max-height: 36.5%;
        }

        &__wrapper--quality {
            position: relative;
            margin-bottom: 0;
            width: 40%;
            height: 63.5%;
            order: 5;
            transform: translateY(-57.5%);
        }

        &__image-box--quality {
            transition: transform 0.9s ease;
        }

        &__image--quality {
            object-position: top;
        }

        &__descr--quality {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 45px;
            height: 42.5%;
            width: 100%;
            color: $cl-white;
            background-color: $cl-green;
            transform: translateY(100%);
            opacity: 0;
            transition: transform 0.9s ease, opacity 0.9s ease;
        }

        &__wrapper--tech {
            position: relative;
            width: 45%;
            height: 27%;
            transform: translate(0);
            transition: transform 0.9s ease;
        }

        &__image--tech {
            object-position: 0% 90%;
        }

        &__descr--tech {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 42.5%;
            color: $cl-white;
            background-color: $cl-green;
            transform: translateY(230%);
            opacity: 0;
            transition: transform 0.6s ease, opacity 0.6s ease;
        }

        &__wrapper--company {
            display: block;
            position: absolute;
            top: 36.5%;
            left: 40%;
            width: 20%;
            height: 36.5%;
            order: 3;
            background-color: $cl-white;
            transition: opacity 0.9s ease;
        }

        &__image-box--company {
            display: block;
            width: 655px;
            transform: translateX(0%);
            transition: opacity 0.9s ease, transform 0.9s ease;
            opacity: 0;
        }

        &__descr--company {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $cl-white;
            transition: background-color 0.6s ease, color 0.6s ease;
        }

        &__wrapper--logo {
            order: 3;
            width: 15%;
            height: 27%;
            transition: background-color 0.6s ease;
        }
    }
}