---
import Icon from '@components/uikit/Icon/Icon.astro';
import './style.scss';
---

<section class="card">
    <div class="card__inner">
        <div class="card__intro">
            <div class="door door--intro">
                <div class="door__image-bg">
                    <picture class="door__image-box">
                        <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                        <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                    </picture>
                </div>
                <div class="door__content">
                    <div class="door__mark-box">
                        <div class="door__mark-like">
                            <Icon name="heart" mod="green"></Icon>
                        </div>
                        <div class="door__mark door__mark--green">НОВИНКА</div>
                    </div>
                    <h3 class="door__title">Sonata S3</h3>
                    <div class="door__price">
                        <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                        <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                    </div>
                    <div class="door__choice-box">
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/dark-brown.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/beige.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/light-beige.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/grey.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/marble.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/grey-line.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <button class="door__choice-btn">+5</button>
                    </div>
                </div>
            </div>
            <div class="door door--intro">
                <div class="door__image-bg">
                    <picture class="door__image-box">
                        <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                        <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                    </picture>
                </div>
                <div class="door__content">
                    <div class="door__mark-box">
                        <div class="door__mark-like">
                            <Icon name="heart" mod="green"></Icon>
                        </div>
                        <div class="door__mark door__mark--green">НОВИНКА</div>
                    </div>
                    <h3 class="door__title">Sonata S3</h3>
                    <div class="door__price">
                        <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                        <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                    </div>
                    <div class="door__choice-box">
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/dark-brown.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/beige.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/light-beige.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/grey.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/marble.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <label>
                            <img
                                class="door__choice-textures"
                                src="/images/card/texture/grey-line.png"
                                alt=""
                            />
                            <input class="door__choice" type="radio" name="card1" value="color" />
                        </label>
                        <button class="door__choice-btn">+5</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--orange">АКЦИЯ</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/dark-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/dark-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
        <div class="door">
            <div class="door__image-bg">
                <picture class="door__image-box">
                    <source srcset="/images/card/door/white-door.webp" type="image/webp" />
                    <img class="door__image" src="/images/card/door/white-door.jpg" alt="" />
                </picture>
            </div>
            <div class="door__content">
                <div class="door__mark-box">
                    <div class="door__mark-like">
                        <Icon name="heart" mod="green"></Icon>
                    </div>
                    <div class="door__mark door__mark--green">НОВИНКА</div>
                </div>
                <h3 class="door__title">Sonata S3</h3>
                <div class="door__price">
                    <div class="door__price-new">от&nbsp;7&nbsp;500&nbsp;₽</div>
                    <div class="door__price-old">9&nbsp;900&nbsp;₽</div>
                </div>
                <div class="door__choice-box">
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/dark-brown.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/light-beige.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/marble.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <label>
                        <img
                            class="door__choice-textures"
                            src="/images/card/texture/grey-line.png"
                            alt=""
                        />
                        <input class="door__choice" type="radio" name="card1" value="color" />
                    </label>
                    <button class="door__choice-btn">+5</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="./script.js"></script>
