---
import Button from '@components/uikit/Button/Button.astro';
import Icon from '@components/uikit/Icon/Icon.astro';
import Door from '@components/Door/Door.astro';
import './style.scss';
const template = {
    "id": 1,
    "imageWebp": "/images/card/door/dark-door.webp",
    "imageJpg": "/images/card/door/dark-door.jpg",
    "mark": "НОВИНКА",
    "markClass": "door__mark--new",
    "title": "Sonata S3",
    "priceNew": "от 7 500 ₽",
    "priceOld": "9 900 ₽",
}
---

<section class="card">
    <div class="card__inner">
        <template id="card__template">
            <Door slide={template}/>
        </template>
    </div>
    <div class="card__pagination">
        <div class="card__quantity">
            <span class="card__quantity-current"></span>
            <span class="card__quantity-total"></span>
        </div>
        <Button class="button button--more">
            Показать еще
            <Icon name="arrow-26" mod="more" />
        </Button>

    </div>
</section>

<script src="./script.js"></script>
