@import '../../assets/styles/global.scss';

.card {
    padding: 50px 0;

    &__inner {
        margin-bottom: 54px;
    }

	&__intro {
        display: none;
    }

    .door {
        display: flex;
        gap: 21px;
        margin-bottom: 47px;
        width: 100%;
    }

    .door:nth-child(n+10) {
        display: none;
    }

    .door:last-child {
        margin-bottom: 0;
    }

    .door__image-bg {
        width: 50%;
    }

    .door:nth-child(2n) .door__image-bg {
        background-color: $cl-gray-f7;
    }

    .door__image-box {
        display: flex;
        padding: 15px 50px;
        max-height: 300px;
        height: 100%;
        justify-content: center;
    }

    .door__image {
        height: 100%;
    }

    .door__content {
        padding: 15px 0 10px;
        width: calc(50% - 45px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .door__mark-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
    }

    .door__mark {
        font-weight: 400;
        font-size: 9px;
        letter-spacing: 0.32em;
        text-align: center;
    }

    .door__mark-like .icon {
        font-size: 19px;
    }

    .door__mark--green {
        color: $cl-green;
    }

    .door__mark--orange {
        color: $cl-orange;
    }

    .door__title {
        position: relative;
        margin-bottom: 57px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: $cl-gray-3c;
    }

    .door__title::before {
        content: "";
        bottom: -13px;
        right: 0;
        height: 1px;
        width: 32%;
        background-color: $cl-gray-97;
        position: absolute;
    }

    .door__price {
        display: none;
    }

    .door__choice-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -8px;
        max-width: 150px;
    }

    .door__choice-box label:nth-of-type(n + 4) {
        display: none;
    }

    .door__choice-box label {
        display: block;
        width: 22px;
        height: 22px;
        padding: 8px;
        box-sizing: content-box;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;
    }

    .door__choice-box label:hover {
        opacity: 0.5;
    }

    .door__choice {
        display: none;
    }

    label:has(.door__choice:checked) {
        transform: scale(1.3);
    }

    .door__choice-textures {
        width: 100%;
        height: 100%;
    }

    .door__choice-btn {
        padding: 0;
        margin-left: auto;
        font-size: 16px;
        line-height: 19px;
        border: none;
        transition: transform 0.3s;
        cursor: pointer;
        background-color: transparent;
    }

    .door__choice-btn:hover {
        transform: scale(1.3);
    }

    &__pagination {
        padding: 0 25px;
    }

    &__quantity {
        margin-bottom: 12px;
    }

    &__quantity--current {
        line-height: 24px;
        font-weight: 400;
        font-size: 24px;
        color: $cl-gray-3c;
    }

    &__quantity--separator,
    &__quantity--total {
        font-weight: 400;
        font-size: 16px;
        color: $cl-gray-99;
        vertical-align: top;
    }
}

@media (min-width: #{$tablet + 'px'}) {
    .card {

        padding: 50px 63px;

        &__inner {
            display: flex;
            flex-wrap: wrap;
        }

        .door {
            position: relative;
            flex-direction: column;
            gap: 23px;
            padding: 36px 52px 18px 27px;
            margin-bottom: 0;
            width: 50%;
        }

        .door:nth-child(4n+4),
        .door:nth-child(4n+3)
        {
            background-color: $cl-gray-f7;
        }

        .door__image-bg {
            padding: 15px 13px 15px 37px;
            width: 100%;
        }

        .door:nth-child(2n) .door__image-bg {
            background-color: transparent;
        }

        .door__image-box {
            padding: 0;
            max-height: 500px;
        }

        .door__content {
            padding: 0;
            width: 100%;
        }

        .door__mark-box {
            position: absolute;
            top: 7px;
            left: 16px;
            margin-bottom: 0;
        }

        .door__mark-like {
            display: none;
        }

        .door__title {
            margin-bottom: 38px;
            font-size: 21px;
        }

        .door__title::before {
            content: none;
        }

        .door__choice-box {
            max-width: fit-content;
        }

        .door__choice-box label:nth-of-type(n + 4) {
            display: block;
        }
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .card {
        padding: 0;
        width: calc(100% - 320px);

        .door {
            width: 25%;
            max-height: 610px;
            cursor: pointer;
            transition: background-color $animation-time ease-in-out,
                        color $animation-time ease-in-out;
        }

        .door:nth-child(4n+4),
        .door:nth-child(4n+3)
        {
            background-color: transparent;
        }

        .door:nth-child(8n + 2),
        .door:nth-child(8n + 4),
        .door:nth-child(8n + 7),
        .door:nth-child(8n + 9) {
            background-color: $cl-gray-f7;
        }

        .door__image-bg {
            padding-top: 20px;
        }

        .door__mark-box {
            top: 12px;
            left: 18px;
        }

        .door__mark {
            font-size: 10px;
        }

        .door__title {
            margin-bottom: 5px;
        }

        .door__price {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;
            font-family: 'opensans', sans-serif;
            visibility: hidden;
        }

        .door__price-new {
            font-weight: 400;
            font-size: 18px;
            color: $cl-white;
        }

        .door__price-old {
            font-weight: 600;
            font-size: 14px;
            text-decoration: line-through;
            color: $cl-white;
        }

        .door:hover {
            background-color: $cl-green;
        }

        .door:hover .door__title,
        .door:hover .door__choice-btn {
            color: $cl-white;
        }

        .door:hover .door__price {
            visibility: visible;
        }


    }
}