@import '../../assets/styles/global.scss';

.card {
    padding-top: 47px;

    &__inner {
        margin-bottom: 54px;
    }

    &__pagination {
        padding: 0 25px;
    }

    &__quantity {
        margin-bottom: 7px;
    }

    &__quantity-current {
        line-height: 24px;
        font-weight: 400;
        font-size: 24px;
        color: $cl-gray-3c;
    }

    &__quantity-total {
        position: relative;
        padding-left: 6px;
        font-weight: 400;
        font-size: 16px;
        color: $cl-gray-99;
        vertical-align: top;
        letter-spacing: -2px;
    }

    &__quantity-total::before {
        content: "/";
        position: absolute;
        left: 0;
        top: 1px;
    }
}

@media (min-width: #{$tablet + 'px'}) {
    .card {

        padding: 0 63px;

        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .card {
        position: relative;
        padding: 0;
        width: 100%;

        &__pagination {
            padding: 0;
        }

        &__inner {
            margin-bottom: 69px;
        }
    }
}