@import '../../assets/styles/global.scss';

.card {
    padding-top: 47px;

    &__inner {
        margin-bottom: 54px;
    }

    .door {
        display: flex;
        gap: 21px;
        margin-bottom: 56px;
        width: 100%;
    }

    .door:nth-child(n+9) {
        display: none;
    }

    .door.visible {
        display: flex;
    }

    .door:last-child {
        margin-bottom: 0;
    }

    .door__image-box {
        display: flex;
        max-height: 300px;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 50%;
    }

    .door:nth-child(2n-1) .door__image-box {
        background-color: $cl-gray-f7;
    }

    .door__image {
        width: 47%;
        height: 85%;
        object-fit: contain;
    }

    .door__content {
        padding: 15px 0 10px;
        width: calc(50% - 45px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .door__mark-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 53px;
    }

    .door__mark {
        font-weight: 400;
        font-size: 9px;
        letter-spacing: 0.32em;
        text-align: center;
    }

    .door__mark-like .icon {
        font-size: 19px;
    }

    .door__mark--new {
        color: $cl-green;
    }

    .door__mark--promo {
        color: $cl-orange;
    }

    .door__title {
        position: relative;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: $cl-gray-3c;
    }

    .door__price {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        font-family: 'opensans', sans-serif;
        color: $cl-black;
    }

    .door__price-new {
        font-weight: 400;
        font-size: 18px;
    }

    .door__price-old {
        font-weight: 600;
        font-size: 14px;
        text-decoration: line-through;
    }

    .door__choice-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        margin-right: -5px;
        max-width: 150px;
    }

    .door__choice-box label:nth-of-type(n + 4) {
        display: none;
    }

    .door__choice-box label {
        display: block;
        width: 22px;
        height: 22px;
        box-sizing: content-box;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;
    }

    .door__choice-box label:hover {
        opacity: 0.5;
    }

    .door__choice {
        display: none;
    }

    .door__choice-textures {
        width: 100%;
        height: 100%;
    }

    .door__choice-btn {
        padding: 0;
        padding-left: 13px;
        font-size: 16px;
        line-height: 19px;
        border: none;
        transition: opacity $animation-time ease-in-out;
        cursor: pointer;
        background-color: transparent;
    }

    .door__choice-btn:hover {
        opacity: 0.5;
    }

    &__pagination {
        padding: 0 25px;
    }

    &__quantity {
        margin-bottom: 7px;
    }

    &__quantity--current {
        line-height: 24px;
        font-weight: 400;
        font-size: 24px;
        color: $cl-gray-3c;
    }

    &__quantity--separator,
    &__quantity--total {
        font-weight: 400;
        font-size: 16px;
        color: $cl-gray-99;
        vertical-align: top;
        letter-spacing: -2px;
    }
}

@media (min-width: #{$tablet + 'px'}) {
    .card {

        padding: 0 63px;

        &__inner {
            display: flex;
            flex-wrap: wrap;
        }

        .door {
            position: relative;
            flex-direction: column;
            gap: 25px;
            padding: 36px 30px 25px 28px;
            margin-bottom: 0;
            width: 50%;
        }

        .door:nth-child(4n + 2),
        .door:nth-child(4n + 3)
        {
            background-color: $cl-gray-f7;
        }

        .door:nth-child(2n - 1) .door__image-box {
            background-color: transparent;
        }

        .door__image-box {
            width: 100%;
            padding: 0;
            max-height: 430px;
        }

        .door__content {
            padding: 0;
            width: 100%;
        }

        .door__mark-box {
            position: absolute;
            top: 8px;
            left: 16px;
            margin-bottom: 0;
            width: calc(100% - 30px);
        }

        .door__mark {
            order: -1;
        }

        .door__title {
            font-size: 21px;
        }

        .door__price {
            margin-bottom: 23px;
        }

        .door__choice-box {
            max-width: fit-content;
        }

        .door__choice-box label:nth-of-type(n + 4) {
            display: block;
        }

        .door__choice-btn {
            padding-left: 0;
        }

        .door__image {
            width: 100%;
            height: 92%;
        }
    }
}

@media (min-width: #{$desktop + 'px'}) {
    .card {
        position: relative;
        padding: 0;
        width: 100%;

        .door.door--intro {
            position: absolute;
            bottom: 100%;
            right: 25%;
            background-color: $cl-white;
        }

        .door.door--intro:first-child {
            right: 0;
        }

        .door {
            width: 25%;
            max-height: 608px;
            cursor: pointer;
            transition: background-color $animation-time ease-in-out,
            color $animation-time ease-in-out;
        }

        .door:nth-child(4n + 2),
        .door:nth-child(4n + 3)
        {
            background-color: transparent;
        }

        .door:nth-child(8n + 2),
        .door:nth-child(8n + 4),
        .door:nth-child(8n + 7),
        .door:nth-child(8n + 9) {
            background-color: $cl-gray-f7;
        }

        .door__mark-box {
            top: 12px;
            left: 18px;
        }

        .door__mark {
            font-size: 10px;
        }

        .door__title {
            margin-bottom: 5px;
        }

        .door:hover {
            background-color: $cl-green;
        }

        .door:hover .door__title,
        .door:hover .door__choice-btn,
        .door:hover .door__mark {
            color: $cl-white;
        }

        .door:hover .door__price {
            visibility: visible;
        }

        &__pagination {
            padding: 0;
        }

        &__inner {
            margin-bottom: 69px;
        }
    }
}