---
import Arrow from '@components/uikit/Arrow/Arrow.astro'
import './style.scss'
import Container from '@components/container/container.astro'
import Icon from '@components/uikit/Icon/Icon.astro'
const videos = [
    {
        poster: '/images/preview/doors.jpg',
        src: '/public/video/review/placeholder.mp4'
    },
    {
        poster: '/images/review/placeholder.jpg',
        src: '/public/video/review/christmas.mp4'

    },
    {
        poster: '/images/preview/doors.jpg',
        src: '/public/video/review/happy-cat.mp4'
    },
    {
        poster: '/images/review/placeholder.jpg',
        src: '/public/video/review/christmas.mp4'

    },
    {
        poster: '/images/preview/doors.jpg',
        src: '/public/video/review/placeholder.mp4'
    },
    {
        poster: '/images/review/placeholder.jpg',
        src: '/public/video/review/happy-cat.mp4'

    },
    {
        poster: '/images/preview/doors.jpg',
        src: '/public/video/review/placeholder.mp4'
    },
    {
        poster: '/images/review/placeholder.jpg',
        src: '/public/video/review/christmas.mp4'

    }
];
---

<section class="preview">
    <Container>
        <div class="preview__slider">
            {videos.map((video) => (
                <video class="preview__video" poster={video.poster} src={video.src}/>
            ))}
        </div>
        <Icon name='play' mod='video-review'/>
        <Icon name='pause' mod='video-review'/>
        <div class="preview__button-container">
            <Arrow mod='left'/>
            <Arrow mod='right'/>
        </div>
    </Container>
</section>

<script src="./script.js"></script>