---
import './style.scss'
---

<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            Каталог
        </li>
        <li class="navigation__item navigation__item--mobile">
            Коллекция
        </li>
        <li class="navigation__item">
            Покупателям
        </li>
        <li class="navigation__item">
            Компания
        </li>
        <li class="navigation__item navigation__item--special">
            Дизайнерам
        </li>
        <li class="navigation__item navigation__item--special">
            Компания
        </li>
    </ul>
</nav>


<script src="./script.js"></script>
