@use "/src/assets/styles/global.scss" as *;

.nav {
    display: none;

    @media (min-width: ($tablet + 'px')) {
        margin-right: -82px;
        display: block;
        padding-top: 88px;
        padding-bottom: 77px;
        background-color: $cl-gray-3c;

        &__list {
            margin: 0;
            padding: 0;
            columns: 3;
            column-gap: 32px;
        }

        &__item {
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
            list-style: none;
            color: $cl-white;
            break-inside: avoid-column;
        }

        &__inner-list {
            margin: 0 0 32px 0;
            padding: 0;
        }

        &__inner-item {
            list-style: none;
            color: $cl-gray-99;
            font-size: 14px;
            line-height: 32px;
        }

        &__link {
            display: block;
            margin-bottom: 12px;
        }

        &__inner-item &__link {
            margin-bottom: 0;
            letter-spacing: -0.6px;
        }
    }

    @media (min-width: ($desktop + 'px')) {
        &__list {
            column-gap: 96px;
        }
    }

    &--header {
        display: block;
        padding-top: 50px;
        padding-bottom: 66px;
    }
    &--header &__list {
        font-size: 22px;

        padding-left: 38px;
        margin: 0 -25px;
    }

    &--header &__item {
        list-style: none;
        padding: 19px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid #e0e0e0
        }

        &::after {
            content: '';
            width: 5px;
            height: 7px;
            background-image: url("/src/assets/images/icons/tiny-arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: calc(50% - 3.5px);
        }

        &:first-child {

            &::before {
                opacity: 0;
            }
        }
        &--special {
            line-height: 48px;
            text-transform: uppercase;
            font-size: 16px;
            color: $cl-black;
            letter-spacing: 0px;
            font-weight: bold;

            background-color: $cl-white;
            margin-right: -22px;
            margin-top: 25px;
            margin-bottom: -25px;
            padding: 47px 0px 17px 32px;


            &:last-child{
                margin-bottom: 0;
            }

            &::before,
            &::after {
                opacity: 0;
            }
        }

        &--background {
            color: $cl-gray-3c;

            background-image: url("/images/shtukaturka.webbp");
            background-position: top right;
        }

        &--arrow {
            &::after {
                opacity: 1;
                top: 64px;
                right: 40px;
                width: 108px;
                background-size: cover;
                background-image: url("/src/assets/images/icons/arrow-108.svg");
            }
        }
    }

}