@use "/src/assets/styles/global.scss" as *;

.nav {
    display: none;

    &--header {
        display: block;
        padding-top: 50px;
        padding-bottom: 66px;
    }
    &--header &__list {
        font-size: 22px;

        padding-left: 38px;
        display: flex;
        flex-direction: column;
    }

    &--header &__item {
        list-style: none;
        padding: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid rgba(224, 224, 224, 0.2)
        }

        &:first-child {

            &::before {
                opacity: 0;
            }
        }

        &--special {
            line-height: 48px;
            text-transform: uppercase;
            font-size: 16px;
            color: $cl-black;
            letter-spacing: 0px;
            font-weight: bold;

            background-color: $cl-white;
            margin-right: -22px;
            margin-top: 25px;
            margin-bottom: -25px;
            padding: 47px 0px 17px 32px;
            order: 1;

            &:last-child{
                margin-bottom: 0;
            }

            &::before,
            &::after {
                opacity: 0;
            }

            // .nav__link {
            //     padding: 0;
            // }
        }

        &--background {
            color: $cl-gray-3c;

            background-image: url("/images/shtukaturka.webbp");
            background-position: top right;
        }

        &--arrow {
            &::after {
                opacity: 1;
                top: 64px;
                right: 40px;
                width: 108px;
                background-size: cover;
                background-image: url("/src/assets/images/icons/arrow-108.svg");
            }
        }
    }

    &--header &__link{
        display: block;
        padding: 19px 0;
        position: relative;

        &::after {
            content: '';
            width: 5px;
            height: 7px;
            background-image: url("/src/assets/images/icons/tiny-arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            top: calc(50% - 3px);
        }
    }

    @media (min-width: ($tablet + 'px')) {
        position: relative;
        display: block;
        padding-top: 88px;
        padding-bottom: 77px;

        &--footer::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            left: 50%;
            margin-left: -50vw;
            position: absolute;
            top: 0;
            width: 100vw;
            z-index: -1;
            background-color: $cl-gray-3c;
        }

        &__list {
            padding: 0;
            columns: 3;
            column-gap: 32px;
            margin-right: -84px;
        }

        &__item {
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
            list-style: none;
            color: $cl-white;
            break-inside: avoid-column;
        }

        &__inner-list {
            margin: 0 0 32px 0;
            padding: 0;
        }

        &__inner-item {
            list-style: none;
            color: $cl-gray-97;
            font-size: 14px;
            line-height: 32px;
        }

        &__link {
            display: block;
            margin-bottom: 12px;
        }

        &__inner-item &__link {
            margin-bottom: 0;
            letter-spacing: -0.6px;
        }

        &--header {
            background-color: transparent;
            margin-right: 0;
        }

        &--header &__list {
            margin: 0;
            columns: 1;
        }

        &--header &__link {
            margin-bottom: 0;
        }
    }

    @media (min-width: ($desktop + 'px')) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-bottom: 38px;

        &--footer::before {
            left: auto;
            margin: 0;
            right: 0;
            width: calc(((100vw - 1200px) / 2 ) + 880px);
        }

        &__list {
            margin: 0;
            column-gap: 22px;
        }

        &__item {
            max-width: 259px;
        }

        &--header {
            padding-top: 0px;
            padding-bottom: 0px;

            flex-grow: 1;
        }

        &--header &__list {
            padding: 0;

            flex-direction: row;
            justify-content: space-between;
            column-gap: 10px;
        }

        &--header &__item{
            line-height: normal;
            margin-right: calc(92px - 8%);


            padding: 0 16px 0 0;

            &::before {
                opacity: 0;
            }

            &--special {
                color: $cl-white;
                text-transform: none;
                background: transparent;
                margin-right: calc(57px + (-10px + 5%) * 2);
                margin-top: 0;
                margin-bottom: 0;
                padding: 0;
                order: 0;

                &:last-child {
                    margin-right: calc(-54px + 12%);
                }

                &::after {
                    display: none;
                }

                & ~ .nav__item:not(:last-child) {
                    margin-right: 0
                }
            }

            &--mobile {
                display: none;
            }
        }

        &--header &__link {
            font-size: 16px;
            line-height: 32px;
            font-weight: 600;
            letter-spacing: -1px;

            &::after {
                background-image: url("/src/assets/images/icons/small-arrow.svg");
                height: 9px;
                transform: rotate(90deg);
                right: -20px;
            }
        }

    }

    @media(min-width: ($desktop-lg + 'px')) {
        &--footer::before {
            width: calc(100% + 200px);
        }
    }
}

.header-wrapper .nav{
    &__list{
        padding: 5px 0;
    }

    @media (min-width: ($desktop + 'px')) {
        &__item {
            margin-right: 0;

            &:first-child {
                margin-left: 10vw;
            }
        }
    }

    @media (min-width: ($desktop-lg + 'px')) {
        &__item {

            &:first-child {
                margin-left: 160px;
            }
        }
    }
}