---
import Container from '@components/container/container.astro'
import './style.scss'
---

<section class="product">
    <Container>
        <ul class="product__list">
            <li class="product__item product__item--full product__item--rank-one product__item--right">
                <p class="product__text product__text--inner">
                    <a class="product__link">
                        Межкомнатные двери
                    </a>
                </p>
                <picture class="product__container product__container--big">
                    <img class="product__image" src="/images/product/inner.jpg" 
                    width="100%" height="251" alt="">
                </picture>
                    
            </li>
            <li class="product__item product__item--rank-three product__item--no-gap product__item--mobile-left">
                <picture class="product__container product__container--desktop-small product__container--right">
                    <img class="product__image product__image--small" src="/images/product/hidden.jpg" 
                    width="100%" height="226" alt="">
                </picture> 
                <p class="product__text product__text--hidden">
                    <a class="product__link">
                        Скрытые двери
                    </a>
                </p>
            </li>
            <li class="product__item product__item--rank-three product__item--tablet-no-gap product__item--mobile-right">
                <p class="product__text product__text--decorate">
                    <a class="product__link">
                        Декоративные рейки
                    </a>
                </p>
                <picture class="product__container product__container--desktop-small">
                    <img class="product__image product__image--small" src="/images/product/decorate.jpg" 
                    width="100%" height="226" alt="">
                </picture> 
                </li>
            <li class="product__item product__item--rank-two">
                <p class="product__text product__text--right">
                    В компании ESTET вы можете купить качественные межкомнатные двери. 
                    Богатый выбор является гарантией того, что вы обязательно найдете модель, 
                    оптимально соответствующую вашим потребностям, пожеланиям и финансовым возможностям.
                </p>        
            </li>
            <li class="product__item product__item--desktop-rank-four product__item--full product__item--overflow">
                <p class="product__text product__text--slide">
                    <a class="product__link">
                        Раздвижные двери
                    </a>
                </p>
                <picture class="product__container product__container--overflow">
                    <source srcset="images/product/door-tablet.png" media="(min-width:768px)"> 
                    <img class="product__image product__image--big" src="/images/product/door-mobile.png" 
                    width="112" height="235" alt="">
                </picture> 
            </li>
            <li class="product__item product__item--desktop-rank-two product__item--tablet-no-gap product__item--left product__item--enter">
                <p class="product__text product__text--enter">
                    <a class="product__link">
                        Входные двери
                    </a>
                </p>
                <picture class="product__container product__container--small product__container--big">
                    <img class="product__image product__image--tablet-small" src="/images/product/enter.jpg" 
                    width="100%" height="251" alt="">
                </picture> 
            </li>
            <li class="product__item product__item--rank-four">
                <p class="product__text product__text--left">
                    Мы украшаем жизнь покупателей своей качественной продукцией, 
                    даря тепло и уют в их дома, создаем все условия для самореализации сотрудников и 
                    успеха партнеров.
                </p>
            </li>
            <li class="product__item product__item--rank-last product__item--right product__item--full product__item--partition">
                <p class="product__text product__text--partition">
                    <a class="product__link">
                        Межкомнатные перегородки
                    </a>
                </p>
                <picture class="product__container product__container--big">
                    <img class="product__image" src="/images/product/partition.jpg" 
                    width="100%" height="251" alt="">
                </picture> 
            </li>
            <li class="product__item product__item--no-gap product__item--only-left">
                <picture class="product__container product__container--half">
                    <img class="product__image product__image--small product__image--tiny" src="/images/product/panels.jpg" 
                    width="100%" height="226" alt="">
                </picture> 
                <p class="product__text product__text--panels">
                    <a class="product__link">
                        Стеновые панели
                    </a>
                </p>
            </li>
            <li class="product__item product__item--desktop-rank-last product__item--only-right">
                <p class="product__text product__text--boards">
                    <a class="product__link">
                        Плинтусы
                    </a>
                </p>
                <picture class="product__container product__container--right product__container--half">
                    <img class="product__image product__image--small product__image--tiny" src="/images/product/boards.jpg" 
                    width="100%" height="226" alt="">
                </picture> 
            </li>
        </ul>
    </Container>
</section>