---
import Container from '@components/container/container.astro'
import './style.scss'
import Icon from '@components/uikit/Icon/Icon.astro'
---

<section class="product">
    <Container>
        <ul class="product__list">
            <li class="product__item product__item--full product__item--right">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text product__text--top-right product__text--white">
                        Межкомнатные двери
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/inner.webp">
                        <img class="product__image" src="/images/product/inner@2x.jpg" 
                        width="350" height="251" alt="">
                    </picture>
                    <div class="product__arrow-container">
                        <Icon name='small-arrow'/>                  
                    </div>
                </a>
            </li>
            <li class="product__item product__item--full product__item--scale product__item--left">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text product__text--top-left">
                        Входные двери
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/enter.webp">
                        <img class="product__image" src="/images/product/enter@2x.jpg" 
                        width="350" height="261" alt="">
                    </picture>
                    <div class="product__arrow-container product__arrow-container--bottom-left">
                        <Icon name='small-arrow'/>                  
                    </div> 
                </a>
            </li>
            <li class="product__item product__item--image-left product__item--image-vertical">
                <a class="product__link" href="javascript:void(0);">
                    <picture class="product__container">
                        <source src="/images/product/hidden.webp">
                        <img class="product__image" src="/images/product/hidden@2x.jpg" 
                        width="188" height="226" alt="">
                    </picture> 
                    <p class="product__text product__text--relative-top-left">
                        Скрытые двери
                    </p>
                    <div class="product__arrow-container product__arrow-container--bottom-left">
                        <Icon name='small-arrow'/>                  
                    </div>
                </a>
            </li>
            <li class="product__item product__item--image-right product__item--image-vertical">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text product__text--relative-bottom-right">
                        Декоративные рейки
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/decorate.webp">
                        <img class="product__image" src="/images/product/decorate@2x.jpg" 
                        width="188" height="226" alt="">
                    </picture>
                    <div class="product__arrow-container product__arrow-container--top-right">
                        <Icon name='small-arrow'/>                  
                    </div> 
                </a>
            </li>
            <li class="product__item product__item--full product__item--overflow">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text">
                        Раздвижные двери
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/door.webp">
                        <img class="product__image" src="/images/product/door@2x.png" 
                        width="112" height="235" alt="">
                    </picture>
                    <div class="product__arrow-container">
                        <Icon name='small-arrow'/>                  
                    </div> 
                </a>
            </li>
            <li class="product__item product__item--text">
                <p class="product__text product__text--right">
                    В компании ESTET вы можете купить качественные межкомнатные двери. 
                    Богатый выбор является гарантией того, что вы обязательно найдете модель, 
                    оптимально соответствующую вашим потребностям, пожеланиям и финансовым возможностям.
                </p>        
            </li>
            
            <li class="product__item product__item--text product__item--text-align">
                <p class="product__text product__text--left">
                    Мы украшаем жизнь покупателей своей качественной продукцией, 
                    даря тепло и уют в их дома, создаем все условия для самореализации сотрудников и 
                    успеха партнеров.
                </p>
            </li>
            <li class="product__item product__item--right product__item--full product__item--big">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text product__text--bottom-left">
                        Межкомнатные перегородки
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/partition.webp">
                        <img class="product__image" src="/images/product/partition@2x.jpg" 
                        width="350" height="311" alt="">
                    </picture>
                    <div class="product__arrow-container product__arrow-container--top-right">
                        <Icon name='small-arrow'/>                  
                    </div> 
                </a>
            </li>
            <li class="product__item product__item--image-left">
                <a class="product__link">
                    <picture class="product__container">
                        <source src="/images/product/panels.webp">
                        <img class="product__image" src="/images/product/panels@2x.jpg" 
                        width="188" height="226" alt="">
                    </picture> 
                    <p class="product__text product__text--relative-bottom-top">
                        Стеновые панели
                    </p>
                    <div class="product__arrow-container product__arrow-container--top-middle">
                        <Icon name='small-arrow'/>                  
                    </div>
                </a>
            </li>
            <li class="product__item product__item--image-right">
                <a class="product__link" href="javascript:void(0);">
                    <p class="product__text product__text--relative-top-bottom">
                        Плинтусы
                    </p>
                    <picture class="product__container">
                        <source src="/images/product/boards.webp">
                        <img class="product__image" src="/images/product/boards@2x.jpg" 
                        width="188" height="226" alt="">
                    </picture>
                    <div class="product__arrow-container product__arrow-container--bottom-right">
                        <Icon name='small-arrow'/>                  
                    </div> 
                </a>
            </li>
        </ul>
    </Container>
</section>