@use "/src/assets/styles/global.scss" as *;

.product {
    padding: 25px 0 50px 0;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        width: 100%;
        position: relative;
        display: flex;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        &--no-gap {
            margin-bottom: 0;
        }

        &--right {
            width: calc(100% + 25px);
            margin: 0 -25px 0 auto;
        }

        &--left {
            margin-left: -25px;
            width: calc(100% + 25px)
        }

        &--overflow {
            background: linear-gradient($cl-white 33%, $cl-gray-f0 33%);
            width: calc(100% + 50px);
            margin-left: -25px;
        }

        &--only-left {
            margin: 0 0 0 -25px;
        }

        &--only-right {
            margin: 0 -25px 0 25px;
        }
    
        &--mobile-left {
            width: 100%;
            margin: 0 0 0 -25px;
        }
    
        &--mobile-right {
            margin-left: 25px;
        }

        &--rank-one {
            width: calc(100% + 25px);
            margin: 0 -25px 25px 0;
        }

        &__rank-last {
        width: calc(100% + 25px);
        }
    }

    &__item--overflow &__image {
        aspect-ratio: 112 / 235;
        width: 112px;
        height: 235px;
        margin-left: 32px;
    }


    &__item--only-left &__container,
    &__item--only-right &__container,
    &__item--mobile-left &__container,
    &__item--mobile-right &__container {
        width: calc(50% + 25px);
    }


    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: $cl-gray-3c;

        &--inner {
            position: absolute;
            width: 145px;
            top: 21px;
            right: 21px;
            color: $cl-white;
        }

        &--hidden {
            padding: 24px 0 0 21px;
            width: 50%;
        }

        &--decorate {
            margin: auto 0 0 -25px;
            padding: 0 24px 39px 0;
            width: 50%;
        }

        &--right {
            padding: 25px 0 0 66px;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            font-weight: 400;
        }

        &--slide {
            order: 1;
            width: 50%;
            margin: auto 0;
            padding-left: 65px;
        }

        &--enter {
            position: absolute;
            left: 26px;
            top: 21px;
            width: 122px;
            color: $cl-white;
        }

        &--left {
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            padding: 25px 60px 30px 25px;
        }

        &--partition {
            position: absolute;
            left: 47px;
            bottom: 31px;
            width: 153px;
        }

        &--panels {
            margin-top: auto;
            padding: 0 74px 37px 21px;
            width: 50%;
        }

        &--boards {
            padding: 49px 20px 0 0;
            width: 50%;
            text-align: right;
        }
    }

    &__container {
        display: flex;
        flex-shrink: 0;
        width: 50%;

        &--big {
            width: 100%;
        }

        &--overflow {
            width: 33%;
            margin-bottom: 23px;
        }
    }

    &__image {
        width: 100%;
        display: flex;
        aspect-ratio: 350 / 251;

        &--small {
            aspect-ratio: 188 / 226;
        }
    }

    @media (min-width: ($tablet + 'px')) {
        margin-top: -135px;
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        &__item {
            width: 50%;

           &--full {
            width: 100%;
           }

           &--rank-one {
            order: -4;
            margin:0 0 43px 0;
           }

           &--rank-two {
            order: -3;
           }

           &--rank-three {
            order: -2;
           }

           &--rank-four {
            order: -1;
           }

           &--rank-last {
            order: 1;
            margin: 42px 0 0 0;
           }

           &--right {
            padding-left: 0;
           }

           &--tablet-no-gap {
            margin-bottom: 0;
           }

           &--overflow {
            background: linear-gradient($cl-white 40%, $cl-gray-f0 40%);
            margin: 0 -50% 44px 0;
            padding-top: 112px;
            justify-content: space-between;
           }

           &--only-left {
            margin:0 50% 0 0;
           }

           &--only-right {
            margin: 0 0 0 50%;
           }

           &--mobile-left,
           &--mobile-right {
            margin: 0;
           }

           &--left {
            margin-left: 0;
            padding-top: 146px;
           }
        }

        &__text {
            &--right {
                padding: 49px 60px 65px 0;
                text-align: left;
                font-size: 14px;
                line-height: 31px;
                font-weight: 300;
            }

            &--hidden {
                position: absolute;
                top: 20px;
                left: 28px;
                padding: 0;
                color: $cl-white;
            }

            &--decorate {
                position: absolute;
                bottom: 31px;
                right: 29px;
                width: 136px;
                padding: 0;
                color: $cl-white;
            }

            &--left {
                padding: 65px 0 0 61px;
                font-weight: 300;
                font-size: 14px;
                line-height: 31px;
            }

            &--slide {
                margin: auto 0 0 0;
                padding: 0 55px 43px 0;
                text-align: right;
            }

            &--panels {
                position: absolute;
                top: 35px;
                right: 32px;
                padding: 0;
                width: 80%;
                text-align: right;
                color: $cl-white;
            }

            &--boards {
                position: absolute;
                bottom: 28px;
                right: 25px;
                padding: 0;
                width: 80%;
                color: $cl-white;
            }

            &--partition {
                width: 50%;
            }
        }

        &__image {
            width: 601px;
            aspect-ratio: 601 / 362;
            flex-grow: 1;

            &--small {
                width: 301px;
                aspect-ratio: 301 / 362;
            }

            &--big {
                aspect-ratio: 601 / 453;
            }

            &--tablet-small {
                width: 300px;
                height: 224px;
                aspect-ratio: 300 / 224;
                flex-shrink: 1;
            }

            &--tiny {
                aspect-ratio: 301 / 225;
            }
        }

        &__item--overflow &__image {
            aspect-ratio: 216 / 452;
            width: 216px;
            height: 452px;
            margin-left: 0;
        }

        &__item--mobile-left &__container,
        &__item--mobile-right &__container,
        &__item--only-left &__container,
        &__item--only-right &__container {
            width: 100%;
        }

        &__container {
            width: 100%;

            &--small {
                flex-shrink: 1;
                height: 224px;
            }

            &--right {
                margin-left: auto;
            }

            &--overflow {
                width: 36%;
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: ($desktop + 'px')) {
        margin-top: -80px;
        padding-top: 0;

        &__item {
            margin-bottom: 0;

            &--full {
                width: 50%;
            }

            &--rank-two,
            &--rank-last {
                order: 0;
            }

            &--rank-last {
                margin: 0 0 0 auto;
            }

            &--desktop-rank-two {
                order: -3;
            }

            &--rank-three {
                order: -2;
            }

            &--desktop-rank-four {
                order: -1;
            }

            &--rank-four {
                order: 1;
            }

            &--desktop-rank-last {
                order: 2;
            }

            &--overflow {
                margin: -112px 0 0 0;
                padding: 0;
                background: linear-gradient($cl-white 25%, $cl-gray-f0 25%);
            }
        }

        &__container {
            &--small {
                margin:  auto 0 0 auto;
                max-width: 50%;
            }

            &--desktop-small {
                max-width: 50%;
                height: 362px;
            }

            &--right {
                margin-left: auto;
            }

            &--half {
                max-width: 50%;
                margin-left: auto;
            }
        }

        &__container--desktop-small &__image {
            width: 301px;
            height: 362px;
            aspect-ratio: 301 / 362;
        }

        &__item--desktop-rank-last &__container--half {
            margin: 0 auto 0 0;
        }

        &__text {
            &--hidden {
                top: 20px;
                left: 328px;
                z-index: 2;
            }

            &--decorate {
                right: calc(50% + 29px);
                z-index: 2;
            }

            &--right {
                margin: -25% 0;
                padding: 0 0 91px 60%;
                text-align: right;
            }

            &--enter {
                left: initial;
                top: initial;
                bottom: 154px;
                right: 110px;
            }

            &--inner {
                top: 43px;
                right: 43px;
            }

            &--partition {
                width: 80%;
                bottom: 42px;
            }

            &--panels {
                top: 35px;
                right: 33px;
                padding: 0;
                z-index: 1;
                text-align: right;
                width: 40%;
            }

            &--left {
                margin: -25% 0;
                padding: 0 60% 0 0;
            }

            &--boards {
                z-index: 2;
                top: initial;
                left: 40px;
                bottom: 25px;
                padding: 0;
                width: 40%;
            }
        }

        &__image {
            &--small {
                z-index: 1;
            }
        }

        &__item--rank-last &__image {
            aspect-ratio: 600 / 311;
        }
    }
}