@use "/src/assets/styles/global.scss" as *;

.product {
    padding: 25px 0 50px 0;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        width: 100%;
        position: relative;
        display: flex;
        margin-bottom: 25px;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &--right {      
            margin: 0 -25px 0 auto;
        }

        &--left {
            margin-left: -25px;
        }

        &--image-left {
            width: 100%;
            margin: 0 0 0 -25px;
        }
        
        &--image-right {
            margin-left: 25px;
        }
        
        &--full {
            width: calc(100% + 25px);
            margin-bottom: 25px;
        }

        &--overflow {
            background: linear-gradient($cl-white 33%, $cl-gray-f0 33%);
            width: calc(100% + 50px);
            margin-left: -25px;
        }
    }

    &__item--overflow &__image {
        aspect-ratio: 112 / 235;
        margin-left: 32px;
    }

    &__item--scale &__image {
        aspect-ratio: 350 / 261;
    }

    &__item--image-left &__container,
    &__item--image-right &__container {
        width: calc(50% + 25px);
    }

    &__item--full &__container {
        width: 100%;
    }

    &__item--overflow &__container {
        width: 33%;
        margin-bottom: 23px;
    }
    
    &__item--image-left &__image,
    &__item--image-right &__image {
        aspect-ratio: 188 / 226;
    }

    &__item--big &__image {
        aspect-ratio: 350 / 311;
    }

    &__item--overflow &__text {
        order: 1;
        width: 50%;
        // margin: 116px 0 0 16px;
        margin: 30% 0 0 16px;
        padding-left: 65px;
        // position: absolute;
        // bottom: 92px;
        // right: 44px;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
        color: $cl-gray-3c;

        &--top-right {
            position: absolute;
            width: 145px;
            top: 21px;
            right: 21px;
        }
        
        &--white {
            color: $cl-white;
        }

        &--relative-bottom-right {
            margin: auto 24px 39px -50px;
            // padding: 0 24px 39px 0;
            width: 50%;
            text-align: right;
        }

        &--relative-top-left {
            // padding: 24px 0 0 24px;
            margin: 24px 0 0 24px;
            text-align: left;
        }

        &--right {
            padding: 25px 0 0 80px;
            font-size: 14px;
            line-height: 25px;
            text-align: right;
            font-weight: 400;
        }

        &--top-left {
            position: absolute;
            left: 26px;
            top: 21px;
            width: 122px;
            color: $cl-white;
        }

        &--left {
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            padding: 25px 76px 30px 0;
        }

        &--bottom-left {
            position: absolute;
            left: 18px;
            bottom: 30px;
            width: 153px;
        }

        &--relative-bottom-top {
            // padding: 0 74px 37px 21px;
            margin: auto 0 37px 20px;
            width: 50%;
        }

        &--relative-top-bottom {
            // padding: 49px 27px 0 0;
            margin: 49px 20px 0 0;
            width: 50%;
            text-align: right;
        }
    }

    &__container {
        display: flex;
        flex-shrink: 0;
        width: 50%;
    }

    &__image {
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        aspect-ratio: 350 / 251;
        object-fit: cover;
    }

    &__link {
        cursor: pointer;
        width: 100%;
        display: flex;
    }
    
    &__link:hover &__text {
        opacity: 0.8;
    }

    &__link:hover &__arrow-container {
        color: $cl-white;

        &::before {
            border-color: $cl-white;
        }
    }

    &__arrow-container {
        position: absolute;
        bottom: 40px;
        right: 39px;
        color: $cl-gray-99;

        &--top-middle {
            top: 35px;
            right: calc(50% + 18px);
            bottom: initial;
        }

        &--bottom-left {
            left: 46px;
            bottom: 46px;
            right: initial;
        }

        &--top-right {
            right: 42px;
            top: 35px;
            bottom: initial;
        }

        &::before {
            position: absolute;
            content: '';
            top: -9px;
            left: -17px;
            width: 40px;
            height: 40px;
            border: 1px solid $cl-gray-99;
            border-radius: 50%;
        }
    }

    @media (min-width: ($tablet + 'px')) {
        // margin-top: -135px;
        margin-top: -109px;
        padding-top: 0;
        
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        &__item {
            width: 50%;

           &--text {
            margin-bottom: 0;
           }

           &--right {
                margin: 0;
           }

           &--full {
                width: 100%;
                margin-bottom: 43px;
           }

           &--overflow {
            background: linear-gradient($cl-white 40%, $cl-gray-f0 40%);
            margin: 0 -50% 44px 0;
            padding-top: 112px;
            justify-content: space-between;
           }
  
           &--image-left {
               margin: 0 50% 0 0;
            }
            
            &--image-right {
                margin: 0 0 0 50%;
            }

            &--image-vertical {
             margin: 0;
            }

           &--left {
            margin-left: 0;
           }

           &--scale {
                width: 50%;
                height: 40%;
                margin-bottom: 0;
           }

           &--big {
            margin-top: 42px;
           }
        }

        &__item--image-left &__container {
            margin-left: auto;
        }


        &__text {
            &--right {
                padding: 49px 60px 65px 0;
                text-align: left;
                font-size: 14px;
                line-height: 31px;
                font-weight: 300;
            }

            &--relative-top-left {
                position: absolute;
                top: 20px;
                left: 28px;
                padding: 0;
                margin: 0;
                color: $cl-white;
            }

            &--relative-bottom-right {
                position: absolute;
                bottom: 31px;
                right: 29px;
                width: 136px;
                padding: 0;
                margin: 0;
                color: $cl-white;
                text-align: left;
            }

            &--left {
                padding: 65px 0 0 61px;
                font-weight: 300;
                font-size: 14px;
                line-height: 31px;
            }

            &--relative-bottom-top {
                position: absolute;
                top: 35px;
                right: 46px;
                padding: 0;
                width: 80%;
                text-align: right;
                color: $cl-white;
            }

            &--relative-top-bottom {
                position: absolute;
                bottom: 22px;
                right: 26px;
                padding: 0;
                width: 80%;
                color: $cl-white;
            }

            &--bottom-left {
                width: 50%;
                left: 47px;
                bottom: 40px;
            }

            &--top-right {
                top: 42px;
                right: 30px;
            }

            &--top-left {
                left: 24px;
                top: 16px;
            }
        }

        &__image {
            width: 601px;
            aspect-ratio: 601 / 362;
            flex-grow: 1;
        }

        &__item--overflow &__image {
            aspect-ratio: 216 / 452;
            margin-left: 0;
        }

        &__item--image-left &__container,
        &__item--image-right &__container {
            width: 100%;
        }

        &__item--overflow &__container {
            width: 36%;
            margin-bottom: 0;
        }

        
        &__item--image-vertical &__image {
            width: 301px;
            aspect-ratio: 301 / 362;
            height: 362px;
        }

        &__item--image-left &__image,
        &__item--image-right &__image {
            aspect-ratio: 300 / 225;
        }
        
        &__item--scale &__image {
            aspect-ratio: 300 / 224;
        }

        &__item--big &__image {
            aspect-ratio: 600 / 311;
        }

        &__item--overflow &__text {
            // margin: auto 0 0 0;
            // padding: 0 55px 43px 0;
            // text-align: right;
            position: absolute;
            bottom: 43px;
            right: 0;
        }
        
        
        &__container {
            width: 100%;
        }

        &__arrow-container {
            display: none;
        }
    }
    
    @media (min-width: ($desktop + 'px')) {
        margin-top: -75px;
        padding-top: 0;
        
        &__item {
            margin-bottom: 0;
            
            &--full {
                width: 50%;
            }

            &--overflow {
                padding: 0;
                background: linear-gradient($cl-white 25%, $cl-gray-f0 25%);
            }

            &--text {
                margin-top: 75px;
                margin-bottom: -50%;
            }

            &--big {
                margin-top: 0;
            }
        }

        &__item--text &__text {
            padding: 25% 0 0 50%;
        }

        &__item--text-align &__text {
            padding: 0 0 0 50%;
        }

        &__item--overflow &__text {
            right: 55px;
        }


        
        &__item--image-vertical &__container {
            max-width: 50%;
            height: 362px;   
        }
        
        &__item--scale &__container {
            margin:  auto 0 0 auto;
            max-width: 50%;
        }

        &__item--image-vertical &__image {
            width: 301px;
            height: 362px;
            aspect-ratio: 301 / 362;
        }
        
        &__text {
            &--relative-top-left {
                top: 20px;
                left: 328px;
                z-index: 2;
            }

            &--relative-bottom-right {
                right: calc(50% + 29px);
                z-index: 2;
            }
            
            &--right {
                padding: 0 0 0 62px;
                text-align: right;
            }

            &--top-left {
                left: calc(50% + 20px);
            }

            &--top-right {
                top: 43px;
                right: 43px;
            }
            
            &--bottom-left {
                width: 80%;
                bottom: 42px;
            }

            &--relative-bottom-top {
                top: 35px;
                right: 33px;
                padding: 0;
                z-index: 1;
                text-align: right;
                width: 40%;
            }


            &--relative-top-bottom {
                z-index: 2;
                top: initial;
                right: 28px;
                bottom: 25px;
                padding: 0;
                width: 40%;
            }
        }
        
        &__item--image-left &__image,
        &__item--image-right &__image {
            z-index: 1;
        }
    }
}