---
import Icon from '../Icon/Icon.astro'
import './style.scss'
---

<div class="language">
    <button class="language__button">
        <Icon name="language" mod="white"/>
    </button>
    <ul class="language__list">
        <li class="language__item">
            <button class="language__button language__button--select">
                <Icon name="language" mod="white"/>
            </button>
        </li>
        <li class="language__item">
            <button class="language__button language__button--select">
                <Icon name="language" mod="white"/>
            </button>
        </li>
    </ul>
</div>

<script src="./script.js"></script>