---
import './style.scss'
---

<div class="language">
    <button class="language__button">
        <img class="language__image" src="/src/assets/images/icons/language.svg" alt="ru" width="26px" height="26px"/>
    </button>
</div>

<script src="./script.js"></script>