---
import Icon from '../Icon/Icon.astro'
import './style.scss'
---

<div class="language">
    <button class="language__button">
        <Icon name="language" mod="white"/>
    </button>
</div>

<script src="./script.js"></script>