---
import Icon from '../Icon/Icon.astro'
import './style.scss'
---

<div class="language">
    <button class="language__button current">
        <Icon name="language"/>
    </button>
    <ul class="language__list">
        <li class="language__item">
            <button class="language__button">
                <Icon name="language"/>
            </button>
        </li>
        <li class="language__item">
            <button class="language__button">
                <Icon name="language-en"/>
            </button>
        </li>
        <li class="language__item">
            <button class="language__button">
                <Icon name="language-be"/>
            </button>
        </li>
    </ul>
</div>

<script src="./script.js"></script>