---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageConfig = {
    title: 'doors',
    description: 'doors',
    keywords: '',
    image: ''
};
---
<BaseLayout
    title={pageConfig.title}
    pageDescription={pageConfig.description}
    pageKeywords={pageConfig.keywords}
    pageImage={pageConfig.image}
    >
        <h1>Page doors</h1>
</BaseLayout>