---
import Service from '@components/Service/Service.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout title={pageTitle} pageTitle={pageTitle}>
    <h1>Главная страница</h1>
    <Banner />
    <About />
</BaseLayout>