@use "/src/assets/styles/global.scss" as *;

.lamel-tech {
    padding-top: 96px;
    padding-bottom: 72px;

    &__row-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 46px;
    }

    &__arrow-box {
        display: flex;
        gap: 23px;
    }

    &__slider {
        margin: 0 -25px;
    }


    &__slide {
        padding-left: 25px;

    }

    &__image-box {
        display: block;
        margin-bottom: 42px;
    }

    &__image {
        display: block;
        min-width: 100%;
        height: 240px;
        object-fit: cover;
    }

    &__slide--quarter &__image {
        height: 240px;
    }

    &__slide--half &__image {
        height: 360px;
    }
}

@media (min-width: ($tablet + 'px')) {
    .lamel-tech {

        &__slider {
            margin: 0 -84px 0 -25px;
        }

        &__row-wrapper {
            justify-content: flex-end;
            column-gap: 95px;
        }


        &__image {
            display: block;
            height: 480px;
            object-fit: cover;
        }
    }
}

@media (min-width: ($desktop + 'px')) {
    .lamel-tech {
        padding-top: 85px;

        &__slider {
            margin: 0 calc((1200px - 100vw) / 2) 0 -25px;
        }

        &__row-wrapper {
            padding-right: 20px;
            column-gap: 55px;
            margin-bottom: 52px;
        }

        &__text-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 60px;
        }
    }
}

@media (min-width: ($desktop-lg + 'px')) {
    .lamel-tech {

        &__slider {
            margin-right: -200px;
        }

    }
}