---
import Icon from '../Icon/Icon.astro'
import './style.scss'

export interface Props {
    mod?: string;
}

const { mod } = Astro.props;
---

<div class:list={['searchbar', mod?`searchbar--${mod}`: '']}>
    <input type="text" class="searchbar__input" placeholder="Поиск...">
    <button class="searchbar__button">
        <Icon  name="loupe" mod="white"/>
    </button>
</div>

<script src="./script.js"></script>