---
import './style.scss'
---

<div class="searchbar">
    <button class="searchbar__button">
        <img src="/src/assets/images/icons/loupe.svg" alt="search" height="21px" width="21px" class="searchbar__icon">
    </button>
</div>

<script src="./script.js"></script>