---
import Navigation from '@components/Navigation/Navigation.astro'
import Hamburger from '@components/uikit/Hamburger/Hamburger.astro'
import Logotype from '@components/uikit/logotype/logotype.astro'
import Searchbar from '@components/uikit/searchbar/searchbar.astro'
import Language from '@components/uikit/language/language.astro'
import Location from '@components/uikit/Location/Location.astro'
import Personal from '@components/uikit/Personal/Personal.astro'
import Social from '@components/uikit/Social/Social.astro'
import Container from '@components/container/container.astro'
import './styles.scss'
import Icon from '@components/uikit/Icon/Icon.astro'
import CallBack from '@components/uikit/CallBack/CallBack.astro'


const socials = [
    {id: 1, href: "javascript:void(0);", title: "like", icon: "like-white"},
    {id: 2, href: "javascript:void(0);", title: "telegram", icon: "telegram"},
    {id: 3, href: "javascript:void(0);", title: "vk", icon: "vk"},
    {id: 4, href: "javascript:void(0);", title: "facebook", icon: "facebook"},
    {id: 5, href: "javascript:void(0);", title: "instagram", icon: "instagram"}
];
const locations = [
    {id: 1, city: "Новокузнецк"},
    {id: 1, city: "Ульяновск"},
    {id: 1, city: "Самара"},
    {id: 1, city: "Хабаровск"},
];
const navList = [
    {
        title: 'Каталог'
    },
    {
        title: 'Коллекции',
        isMobile: true
    },
    {
        title: 'Покупателям'
    },
    {
        title: 'Дизайнерам',
        isSpecial: true,
        isBackground: true
    },
    {
        title: 'Компания'
    },
    {
        title: 'Где\u00a0купить',
        isSpecial: true,
        isArrow: true
    },
];
---

<header class="header">
    <Container>
        <div class="header__base">
            <Searchbar />
            <!-- <Logotype /> -->
            <div class="header__logo-wrapper">
                <a class="header__logo-link" href="javascript:viod(0)" title="Estet">
                    <img class="header__logo" src="public/images/logo-white.svg" alt="" width="57" height="57"/>
                </a>
            </div>
            <Hamburger/>
        </div>
        <div class="header__functional">
            <header class="header__inner">
                <ul class="header__list">
                    <li class="header__item header__item--searchbar">
                        <Searchbar modifier='burger'/>
                    </li>
                    <li class="header__item header__item--language">
                        <Language />
                    </li>
                    <li class="header__item header__item--location">
                        <Location location={locations} modifier="--header"/>
                    </li>
                </ul>
                <Hamburger type="close"/>
                <CallBack modifier="header"/>
                <Personal />
            </header>
            <Navigation list={navList} modifier="--header"/>
            <div class="header__contacts">
                <a href="tel:88005513240" title="8 800 551 32 40" class="header__number">
                    8 800 551 32 40
                </a>
                <Social
                    socials = {socials}
                />
            </div>
        </div>
    </Container>
</header>

<script src="./script.js"></script>