---
import Navigation from '../Navigation.astro'
import Hamburger from '@components/uikit/Hamburger/Hamburger.astro'
import Logotype from '@components/uikit/logotype/logotype.astro'
import Searchbar from '@components/uikit/searchbar/searchbar.astro'
import Language from '@components/uikit/language/language.astro'
import Location from '@components/uikit/Location/Location.astro'
import Social from '../Social.astro'
import './styles.scss'
---

<header class="header">
    <div class="header__base">
        <Searchbar />
        <Logotype />
        <Hamburger/>
    </div>
    <div class="header__functional">
        <header class="header__inner">
            <Searchbar />
            <Language />
            <Location />
            <Hamburger type="close"/>
            <div class="call-back">
                <picture class="call-back__wrapper">
                    <img src="/src/assets/images/icons/phone.svg" class="call-back__icon" alt="" width="26px" height="26px">
                </picture>
                <p class="call-back__text">
                    Обратный звонок
                </p>
            </div>
            <div class="personal">
                <div class="personal__likes">
                    <butotn class="personal__button">
                        <img src="/src/assets/images/icons/like.svg" alt="like" width="21px" height="18px">
                    </butotn>
                    <div class="personal__quantity">100</div>
                </div>
                <div class="personal__basket">
                    <butotn class="personal__button">
                        <img src="/src/assets/images/icons/basket.svg" alt="like" width="21px" height="20px">
                    </butotn>
                    <div class="personal__quantity">100</div>
                </div>
            </div>
        </header>
        <nav>
            <Navigation />
        </nav>
        <div class="header__contacts">
            <div class="number">
                8 800 551 32 40
            </div>
            <Social />
        </div>
    </div>

</header>

<!--
    Список элементов

    searchbar m
    logotype m
    hamburger m

    language-button m
    location m
    close-button m
    call-button m
    likes m
    basket m
    {navigation
        catalog -> m
        collection -> m
        to-customers -> m
        company -> m

        to-designers m
        company m
    }
    nummber m
    socials m



-->
