@use '/src/assets/styles/global.scss' as *;

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    color: $cl-white;

    padding: 18px 0;

    &__base {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__logo-wrapper {
        width: 40px;
        height: 40px;
        z-index: 5;
    }

    &__logo-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__functional {
        padding: 22px;

        position: fixed;
        z-index: 5;
        top: 0%;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: $cl-green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;

        transition: transform $animation-time;

        &--open {
            transform: translateX(-100%);
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list {
        padding: 0 0 20px;
        display: flex;
        justify-content: space-between;

        width: 55%;
    }

    &__item {
        list-style: none;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: padding $animation-time;

        &:has(.searchbar--open) ~ & {
            // padding-top: 62px;
            // padding-bottom: 25px;
            display: none;
        }
    }

    &__contacts {
        margin: 0 -22px -22px;
        padding: 40px 0 50px 60px;
        background-color: $cl-black;
    }

    &__number {
        display: block;
        font-size: 37px;
        line-height: normal;
        letter-spacing: 0px;

        margin-bottom: 24px;
        font-weight: 600;

        @media (min-width: 320px) and (max-width: ($mobile + 'px')) {
            font-size: 30px;
        }
    }
}

@media (min-width: ($tablet + 'px')) {
    .header {
        padding: 50px 0;

        &__logo-wrapper {
            width: 57px;
            height: 57px;
        }

        &__functional {
            max-width: 400px;
        }
    }
}

@media (min-width: ($desktop + 'px')) {

    $side-margin: calc(((100vw - 1200px) - (1365px - 100vw)) / 4);

    .header {
        padding: 44px 0;
        z-index: 2;

        &__base {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            left: 0;
            width: 100%;
            top: 50px;

            .searchbar {
                display: none;
            }

            .hamburger {
                display: block;
                position: absolute;
                left: calc(100vw - ((100vw - 1200px) / 2));
                transform: translateX(calc(-10px + $side-margin));
            }
        }

        &__functional {
            z-index: 0;
            background: transparent;
            overflow: visible;
            position: relative;
            left: 0;
            top: 0;
            padding: 0;
            max-width: 100%;
            height: auto;
            flex-direction: row;
            padding: 0 calc((1365px - 100vw) / 2);

            &--open {
                transform: none;
            }
        }

        &__inner {
            order: 1;
            width: 180px;
        }

        &__list {
            width: auto;
            align-items: center;
            padding: 0;
            margin-right: 40px;
        }

        &__list:has(.searchbar--open) ~ * {
            display: none;
        }

        &__item {

            &--language {
                position: absolute;
                right: 100%;
                transform: translateX(calc(10px - $side-margin));
            }

            &--location {
                display: none;
            }

            &:has(.searchbar--open) ~ &--language {
                display: block;
            }
        }

        &__contacts {
            display: none;
        }

    }
}

@media (min-width: ($desktop-md + 'px')) {
    .header {

        &__base {

            .hamburger {
                transform: translateX(calc(-10px + (100vw - 1200px) / 4));
            }
        }

        &__item {

            &--language {
                transform: translateX(calc(10px - (100vw - 1200px) / 4));
            }
        }

        &__functional {
            padding: 0;
        }
    }
}

@media (min-width: ($desktop-lg +'px')) {
    .header {
        &__base {

            .hamburger {
                transform: translateX(90px);
            }
        }

        &__item {

            &--language {
                transform: translateX(-90px);
            }
        }
    }
}