---
import Icon from '../Icon/Icon.astro';
import './styles.scss'

export interface Props {
    type?: string;
    mod?: string;
}

const { type, mod} = Astro.props;

var iconName = "burger";

if (type == "close") {
    iconName = "burger-close"
}
---

<button class=`hamburger ${mod ? 'hamburger--' + mod : ''}`>
        <Icon name={iconName} mod="white"/>
</button>
