---
import Icon from '../Icon/Icon.astro';
import './styles.scss'

export interface Props {
    type?: string;
    modifier?: string;
}

const { type, modifier} = Astro.props;

var iconName = "burger";

if (type == "close") {
    iconName = "burger-close"
}
---

<button class=`hamburger ${modifier ? 'hamburger--' + modifier : ''}`>
        <Icon name={iconName} mod="white"/>
</button>
