---
import './style.scss'
---

<div class="location">
    <button class="location__button">
        <img class="location__image" src="/src/assets/images/icons/location.svg" alt="location" width="26px" height="26px">
    </button>
</div>

<script src="./script.js"></script>