---
import Icon from '../Icon/Icon.astro';
import './style.scss'

export interface Props {
	location: any;
    modifier: any;
}

const { location, modifier } = Astro.props;

var className = 'location' + ` location${modifier}`;
---

<div class={className}>
    <button class="location__button">
        <Icon name="location" mod="white"/>
    </button>
    <div class="location__inner">
        <ul>
            {
                location?.map((location) => (
                    <li>
                        ${location.city}
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<script src="./script.js"></script>