---
import Container from "@components/container/container.astro"
import Button from "@components/uikit/Button/Button.astro"
import './style.scss'
---

<article class="feedback">
    <Container>
        <div class="feedback__wrapper">
            <p class="feedback__text">Остались вопросы?<!-- перенос -->
                Напишите нам.</p>
        <Button class="button button--green button--feedback">Обратиться</Button>
        <div class="feedback__line"></div>
        <Button
            TagButton = "a"
            href="javascript:void(0);"
            class="button button--link">
            <span class="button__text">Помощь в подборе</span>
            <span class="button__arrow"></span>
        </Button>
        </div>
    </Container>
</article>

<script src="./script.js"></script>

