@import '../../assets/styles/global.scss';

.feedback {
    position: relative;
    padding-top: 71px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
        background-color: $cl-green;
    }

    &__text {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        color: $cl-white;
        margin-top: 0;
        margin-bottom: 39px;
        white-space: pre-line;
    }

    @media(min-width: ($tablet + 'px')) {
        padding-top: 90px;
        order: 1;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        &__text {
            margin-right: 65px;
            margin-bottom: 57px;
        }
    }

    @media(min-width: ($desktop + 'px')) {
        position: relative;
        padding: 88px 0 0 40px;
        order: 0;

        &::before {
            left: 0;
            margin: 0;
            width: calc(((100vw - 1200px) / 2 ) + 320px);
        }

        &__wrapper {
            min-height: 400px;
            height: 100%;
            flex-direction: column;
        }

        &__text {
            margin-right: 0;
            margin-bottom: 65px;
        }
    }

    @media(min-width: ($desktop-lg + 'px')) {
        padding: 71px 0 0 74px;
    }
}