@use '/src/assets/styles/global.scss' as*;

.header {

    &--inner{
        background-color: transparent;
        border-bottom: 1px solid var(--cl-gray-cd);
        overflow: hidden;

        @media (min-width: ($mobile + 'px')) {
            padding: 14px 25px;
        }

        @media (min-width: ($tablet + 'px')) {
            padding: 14px 0 14px 66px;
        }

        @media (min-width: ($desktop + 'px')) {
            border-bottom: 0;
            padding: 0;
        }
    }
    &--inner &__base {
        position: relative;
        gap: calc(100vw / 3);
        justify-content: center;
        max-width: 1280px;
        opacity: 1;
        // transition: opacity $double-animation ease-in-out;

        @media (min-width: ($tablet + 'px')) {
            gap: 37.89vw;
        }

        @media (min-width: ($desktop + 'px')) {
            position: relative;
            top: unset;
            // left: calc(320px - ((100vw - 1200px) / 2));
            left: 0;
            padding-left: 160px;
            justify-content: right;
            // width: calc(100vw - 320px);
            justify-content: space-between;
            max-width: 1600px;
            align-items: flex-start;
            margin: 0 auto;
        }

        @media (min-width: ($desktop-lg + 'px')) {
            max-width: 1600px;
            position: relative;
        }
    }

    &--inner &__left-wrapper,
    &--inner &__right-wrapper {
        display: flex;
    }

    &--inner .searchbar {
        @media (min-width: ($desktop + 'px')) {
            display: block;
            position: relative;
            grid-column: -1 / -2;
            grid-row: 1 / 2;

            .icon-loupe {
                color: $cl-black;
            }

            &__button {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &--inner .link--aside {
        display: none;

        @media (min-width: ($desktop + 'px')) {
            display: block;
            grid-column: 1 / -1;
            align-content: center;
            text-align: center;
        }
    }

    &--inner &__left-wrapper {
        @media (min-width: ($desktop + 'px')) {
            // display: none;
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &:has(.searchbar--open) > :not(:first-child) {
            opacity: 0;

            @media (min-width: ($desktop + 'px')) {
                opacity: 1;
            }
        }
    }

    &--inner &__right-wrapper {
        @media (min-width: ($desktop + 'px')) {
            gap: 3.7vw;
            position: absolute;
            right: 0;
        }

        @media (min-width: ($desktop-lg + 'px')) {
            gap: 59px;
        }
    }

    &--inner &__logo-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        z-index: 5;

        @media (min-width: ($tablet + 'px')) {
            font-size: 40px;
        }

        @media (min-width: ($desktop + 'px')) {
            // display: none;
            background-color: $cl-green;
            width: 160px;
            height: 160px;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            left: 80px;
        }
    }

    &--inner &__logo-link {
        display: block;
        width: 100%;
        height: 100%;

        @media (min-width: ($desktop + 'px')) {
            display: inline-block;
            padding: 51px;
        }
    }

    &--inner &__logo {
        width: 100%;
        height: 100%;
    }

    &--inner .hamburger {
        position: absolute;
        right: 0;
        pointer-events: all;

        @media (min-width: ($tablet + 'px')) {
            background-color: var(--cl-green);
            top: -14px;
            padding: 0;
            width: 60px;
            height: 60px;
        }

        @media (min-width: ($desktop + 'px')) {
            position: unset;
            display: flex;
            width: 80px;
            height: 80px;
            left: unset;
            top: -24px;
            right: calc(-1 * ((100vw - 1200px) / 2));
            transform: none;
            margin-left: -3.7vw;
        }

        @media (min-width: ($desktop-lg + 'px')) {
            margin-left: -59px;
        }

        .icon-burger-close {
            position: absolute;
            right: 25px;

            @media (min-width: ($tablet + 'px')) {
                // right: 89px;
                top: 28px;
            }

            @media (min-width: ($desktop + 'px')) {
                right: unset;
            }
        }

        &--inner {
            position: static;

            .icon-burger-close {
                position: static;
            }

            @media (min-width: ($tablet + 'px')) {
                align-items: flex-start;
            }
        }
    }

    &--inner .call-back {
        border: none;
        width: auto;
        padding: 6px 6px 6px 5px;
        margin-left: unset;

        @media (min-width: ($desktop + 'px')) {
            padding: 28px;
            background-color: $cl-lite-green;
        }

        &__icon {
            margin: 0;
        }

        &__text {
            display: none;
        }

        &--header-inner {
            display: block;
            line-height: 18px;
            font-weight: 600;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            width: 68%;
            margin-left: -22px;
            padding: 26px 0px 23px 20px;
            display: flex;
            border: 1px solid var(--cl-white);
            border-right-width: 0;
            border-left-width: 0;
            gap: unset;
        }

        &--header-inner .call-back {
            &__text {
                display: block;
                margin-left: auto;
                padding-right: 20px;
            }
        }
    }

    &--inner .personal {
        border: none;
        width: auto;
        flex-grow: unset;
        margin-right: 0;
        padding: 0;
        gap: 4.2vw;

        &__item:first-child {
            display: none;

            @media (min-width: ($desktop + 'px')) {
                display: block;
            }
        }

        &__button {
            &--basket {
                display: block;
                display: flex;
                align-items: center;
            }
        }

        &__quantity {
            display: none;

            @media (min-width: ($desktop + 'px')) {
                display: block;
                bottom: 75%;
                left: 100%;
                transform: translateX(-65%);
            }
        }

        @media (min-width: ($desktop-lg + 'px')) {
            gap: 67px;
        }

        &--header-inner {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;
            margin-right: -22px;
            border: 1px solid var(--cl-white);
            border-right-width: 0;
            padding: 0px 31px 0 21px;
            gap: unset;
        }

        &--header-inner .personal__item:first-child {
            display: block;
        }

        &--header-inner .personal__quantity {
            display: inline-block;
        }
    }

    &--inner .searchbar {
        left: 0;
        position: absolute;

        @media (min-width: ($desktop + 'px')) {
            width: 80px;
            height: 80px;
            background-color: $cl-gray-e6;
            position: relative;
        }

        &--open {
            width: 100%;

            @media (min-width: ($desktop + 'px')) {
                width: 80px;
            }
        }

        &__button {
            padding-left: 0;
        }
    }

    &--inner .language {
        display: none;

        &__list {
            left: auto;
            right: auto;
            width: auto;

            .language__item:first-child {
                display: none;
            }
        }

        @media (min-width: ($tablet + 'px')) {
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        @media (min-width: ($desktop + 'px')) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 14px;
        }
    }

    &--inner .location {
        &__button {
            display: flex;
            align-items: center;
        }
    }

    &--inner .choice {
        display: none;
        max-width: 192px;

        @media (min-width: ($desktop + 'px')) {
            display: flex;
            margin-right: 2.43vw;

            &::after {
                top: 33px;
                border-right: 1px solid var(--cl-white);
                border-bottom: 1px solid var(--cl-white);
            }

            &__list {
                text-wrap: auto;
                color: var(--cl-white);
            }

            .icon--green {
                color: var(--cl-white);
                align-content: center;
            }
        }

        @media (min-width: ($desktop-lg + 'px')) {
            margin-right: 39px;
        }
    }

    &--inner &__item--searchbar{
        @media (min-width: ($tablet + 'px')) {
            // display: none;
        }
    }

    &--inner &__functional {
        padding: 14px 22px 24px;

        &--open {
            transform: translateX(-100%);
        }

        @media (min-width: ($tablet + 'px')) {
            // max-width: 41.66vw;
        }

        @media (min-width: ($desktop + 'px')) {
            max-width: 1200px;
            position: absolute;
            width: calc(100vw - 460px);
            padding: 0;
            left: unset;
            display: none;

            @media (min-width: ($desktop + 'px')) {
                // max-width: 1600px;
                // margin-left: 380px;
                // left: 0;
                right: 80px;
            }

            &:has(.language) * .header__item--language {
                display: none;
            }

            & .header__inner {
                display: none;
            }

            &--open {
                transform: unset;
                display: flex;

                .hamburger {
                    display: none;
                }
            }
        }

        .language {
            display: flex;

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .searchbar {
            left: 25px;
            position: absolute;

            @media (min-width: ($desktop + 'px')) {
                display: block;
            }

            &--open {
                width: 100%;

                .searchbar__input {
                    width: calc(100% - 120px - 6.67vw);
                    padding-right: 40px;
                }

                .searchbar__button {
                    left: calc(100% - 150px - 6.67vw);
                }
            }

            &__button {
                margin-left: unset;
                padding-left: 0;
            }
        }
    }

    &--inner:has(.header__functional--open) .header__right-wrapper > *:not(.hamburger){
        display: none;
        position: relative;
        z-index: 3;
        // transition: opacity $animation-time ease-in-out;
        // .hamburger {
        //     position: relative;
        //     z-index: 9999;
        //     opacity: 1;
        // }
    }

    &--inner &__number {
        @media (min-width: ($tablet + 'px')) {
            font-size: clamp(30px, 30px + 7 * ((100vw - 768px) / (900 - 768)), 37px);
        }
    }

}