---
import './style.scss'
import Title from '@components/uikit/Title/Title.astro';
import Text from '@components/uikit/Text/Text.astro';
import Link from '@components/uikit/Link/Link.astro';
import Choice from '@components/uikit/Choice/Choice.astro';
import CallBack from '@components/uikit/CallBack/CallBack.astro';

const slides = [
    {
        title: 'Stylish doors',
        text: 'сделанные по новейшим разработкам из проверенных материалов',
        image: '/images/intro/framgula-urban-desktop.jpg',
        srcset: [
            '/images/intro/framgula-urban-desktop.webp'
        ],
    },
    {
        title: 'Stylish πdoors',
        text: 'сделанные по старейшим дваработкам из непонятных материалов',
        image: '/images/intro/framgula-urban-desktop.jpg',
        srcset: [
            '/images/intro/framgula-urban-desktop.webp'
        ],
    },
]
---

<section class="intro">
    <div class="intro__slider">
        {
            slides.map((slide) => (
                <div class="slick-slide intro__slide">
                    <picture class="intro__wrapper">
                        {
                            slide.srcset.map((src) => (
                                <source srcset={src} />
                            ))
                        }
                        <img class="intro__image" src={slide.image} />
                    </picture>
                    <div class="intro__filter"></div>
                </div>
            ))
        }
    </div>
    <div class="intro__container">
        <div class="intro__text-slider">
            {
                slides.map((slide) => (
                    <div class="slick-slide">
                        <Title Tag="h1" class="intro">
                            {slide.title}
                        </Title>
                        <Text class="intro">
                            {slide.text}
                        </Text>
                    </div>
                ))
            }
        </div>
    </div>
    <button class="intro__button intro__button--left"></button>
    <button class="intro__button intro__button--right"></button>
    <div class="intro__functional">
        <Link href="tel:88005513240" class="link--intro">8 800 551 32 40</Link>
        <Choice class="intro"/>
        <CallBack modifier="intro"/>
    </div>
</section>

<script src="./script.js"></script>