---
import './style.scss'
import Title from '@components/uikit/Title/Title.astro';
import Text from '@components/uikit/Text/Text.astro';
import Link from '@components/uikit/Link/Link.astro';
import Choice from '@components/uikit/Choice/Choice.astro';
import CallBack from '@components/uikit/CallBack/CallBack.astro';
import IntroSlider from '@components/uikit/IntroSlider/IntroSlider.astro';

export interface Props {
	slides?: [{
        title: string;
        text: string;
        image: string;
        srcset?: any;
        href?: string;
    }];
    tel?: {
        href: string;
        text?: string;
    }
}

let {slides, tel} = Astro.props;

if (!slides) {
    slides = [
    {
        title: 'Stylish doors',
        text: 'сделанные по новейшим разработкам из проверенных материалов',
        image: '/images/intro/framgula-urban-desktop.jpg',
        srcset: [
            {
                src: '/images/intro/framgula-urban-desktop.webp',
                media: ''
            }
        ],
        href: '/doors',
    },
    {
        title: 'Stylish πdoors',
        text: 'сделанные по старейшим дваработкам из непонятных материалов',
        image: '/images/intro/framgula-urban-desktop.jpg',
        srcset: [
            {
                src: '/images/intro/framgula-urban-desktop.webp',
                media: ''
            }
        ],
        href: '/doors',
    },
]
}
if (!tel) {
    tel = {
        href: '88005513240',
        text: '8 800 551 32 40'
    }
}
---

<section class="intro">
    <IntroSlider slides={slides}/>
    <div class="intro__functional">
        <Link href=`tel:${tel.href}` class="link--intro">{tel.text? tel.text: tel.href}</Link>
        <Choice class="intro"/>
        <CallBack mod="intro"/>
    </div>
</section>

<script src="./script.js"></script>