---
import Copyright from "@components/Copyright/Copyright.astro";
import Navigation from "@components/Navigation/Navigation.astro";
import Feedback from "@components/Feedback/Feedback.astro";
import Contact from "@components/Contact/Contact.astro";
import Container from "@components/container/container.astro";
import './styles.scss';
const navList = [
    {
        title: 'Продукция',
        links: [
            'Межкомнатные двери', 'Входные двери', 'Скрытые двери', 'Межкомнатные перегородки', 
            'Декоративные рейки', 'Стеновые панели', 'Раздвижные двери', 'Плинтусы', 
            'Напольные покрытия', 'Мебель']
    },
    {
        title: 'Декор и аксессуары',
        links: ['Декоративные оформления', 'Фурнитура']
    },
    {
        title: 'Покупателям',
        links: ['Полезно', 'Выездной консультант', 'Акции и промокоды', 'Оплата и гарантия', 
        'Рассрочка и кредит', 'Доставка и установка', 'Советы и рекоментации', 'Дизайны-проекты']
    },
    {
        title: 'Информация',
        links: ['Покрытия', 'Стекла', 'Платина']
    },
    {
        title: 'Где купить',
        links: []
    },
    {
        title: 'Дизайнерам',
        links: []
    },
    {
        title: 'Компания',
        links: ['О нас', 'Производство', 'Новости', 'Сертификаты', 'Отзывы', 'Вакансии', 'Дилерам']
    }
];

---

<footer class="footer">
    <Container>
        <div class="footer__wrapper">
            <Feedback />
            <Contact />
            <Navigation list={navList} modifier="--footer"/>
            <Copyright />
        </div>
    <Container>
</footer>