@use "/src/assets/styles/global.scss" as *;

.footer {
    z-index: 0;

    @media(min-width: ($tablet + 'px')) {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
    }

    @media(min-width: ($desktop + 'px')) {
        &__wrapper {
            display: grid;
            grid-template-columns: 880px 320px;
            grid-template-rows: auto min-content;
        }
    }
}