@use "/src/assets/styles/global.scss" as *;

.footer {
    @media(min-width: ($tablet + 'px')) {
        display: flex;
        flex-direction: column;
    }

    @media(min-width: ($desktop + 'px')) {
        display: grid;
        grid-template-columns: 68% 32%;
        grid-template-rows: auto min-content;
    }
}