---
import './styles.scss'
import Container from '@components/container/container.astro';
import Icon from '@components/uikit/Icon/Icon.astro';
---

<section class="copyright">
    <Container>
        <div class="copyright__wrapper">
            <a class="copyright__link">
                <Icon mod='logo-gray' name='logo-white'/>
            </a>
            <div class="copyright__info">
                <div class="copyright__container">
                    <p class="copyright__text">
                        © 2024 Дверные технологии. Все права защищены.
                    </p>
                    <p class="copyright__text copyright__text--adress">
                        Чувашская республика, Цивильский район, пос. Молодежный, ул. Заводская 1Г
                    </p>
                    <a class="copyright__confidential" href="javascript:void(0);">Политика конфиденциальности</a>
                </div>
                <a class="copyright__kontora" href="javascript:void(0);">
                    <Icon mod='kontora' name='kontora' />
                </a>
            </div>
        </div>
    </Container>
</section>