@use "/src/assets/styles/global.scss" as *;

.copyright {
    position: relative;
    padding-top: 62px;
    padding-bottom: 71px;
    color: $cl-gray-99;
    background-color: $cl-cl-gray-31;
    font-size: 12px;
    line-height: 16px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
        background-color: $cl-cl-gray-31;
    }

    &__wrapper {
        display: flex;
    }

    &__link {
        font-size: 57px;
        margin-right: 21px;
    }

    &__text {
        margin: 0;

        &--adress {
            margin-bottom: 26px;
        }
    }

    &__confidential {
        position: relative;
        display: block;
        margin-bottom: 40px;
        width: fit-content;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            bottom: -3px;
            left: 0;
            background-color: $cl-gray-97;
        }
    }

    @media (min-width: ($tablet + 'px')) {
        padding-top: 73px;
        padding-bottom: 74px;
        order: 2;

        &__link {
            margin-right: 27px;
        }

        &__text {
            &--adress {
                margin-bottom: 5px;
            }
        }
    }

    @media (min-width: ($desktop + 'px')) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 125px;
        padding-bottom: 69px;

        &::before {
            left: auto;
            margin: 0;
            right: 0;
            width: calc(((100vw - 1200px) / 2 ) + 880px);
        }

        &__info {
            display: flex;
            margin-right: -126px;
        }

        &__container {
            margin-right: 127px;
        }

        &__confidential {
            margin-bottom: 0;
        }

        &__kontora {
            align-self: flex-end;
        }
    }

    @media(min-width: ($desktop-lg + 'px')) {
        &::before {
            width: calc(100% + 200px);
        }
    }
}