---
import Icon from '../Icon/Icon.astro'
import './style.scss'

export interface Props {
    mod?: string;
    href?: string;
}

const mod = Astro.props.mod;
const href = Astro.props.href;
---

<a class={mod? `logotype  logotype--${mod}`:'logotype '} href={href ? href : "javascript:viod(0)"} title="Estet">
    <Icon name="logo-white" mod="white"/>
</a>

<script src="./script.js"></script>