---
import Button from '@components/uikit/Button/Button.astro'
import './styles.scss'
import Container from '@components/container/container.astro'
---

<section class="info tab" id="tab-1">
    <Container>
        <div class="info__wrapper">
            <h2 class="info__title">Новости и советы</h2>
            <div class="info__button-wrapper tab-nav">
                <Button class="button--news tab-btn tab-btn-active" data-target-id="0">Новости</Button>
                <Button class="button--suggestions tab-btn" data-target-id="1">Советы</Button>
            </div>
        </div>
        <div class="news tab-pane tab-pane-show" data-id="0">
            <div class="news__list">
                <div class="news__item news__item--big">
                    <div class="news__media-wrapper news__media-wrapper--big">
                        <a class="link--news" href="javascript:void(0);">
                            <picture class="news__image-group news__image-group--big">
                                <img class="news__image news__image--big" src="../../../images/news/ultratex-tablet.jpg" alt="ultratex">
                            </picture>
                        </a>
                    </div>
                    <div class="news__content-wrapper news__content-wrapper--big">
                        <a class="link--news" href="javascript:void(0);">
                            <h3 class="news__title news__title--big news__title--news">Новости и СМИ о нас</h3>
                        </a>
                        <a class="link link--info link--no-line" href="javascript:void(0);">
                            <p class="text text--news text--news-big">Новые продукты <span class="news__dash">-</span> коллекция покрытий Boonlayer Ultratex и&nbsp;Boonlayer Original</p>
                        </a>
                        <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                    </div>
                </div>
                <div class="news__slider slider--info">
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <picture class="news__image-group">
                                    <img class="news__image" src="../../../images/news/batimat-2020.jpg" alt="batimat2020">
                                </picture>
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--exhibition">Выставки</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <img class="news__svg" src="/src/assets/images/icons/video.svg" alt="video" width="32px" height="32px">
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--video">Видео</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Новые технологии производства коробов для скрытых дверей</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <picture class="news__image-group">
                                    <img class="news__image" src="../../../images/news/air.jpg" alt="air-doors">
                                </picture>
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <picture class="news__image-group">
                                    <img class="news__image" src="../../../images/news/batimat-2020.jpg" alt="batimat2020">
                                </picture>
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--exhibition">Выставки</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Введены новые оригинальные покрытия серии BOONLAYER</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <picture class="news__image-group">
                                    <img class="news__image" src="../../../images/news/batimat-2020.jpg" alt="batimat2020">
                                </picture>
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--exhibition">Выставки</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <picture class="news__image-group">
                                    <img class="news__image" src="../../../images/news/air.jpg" alt="air-doors">
                                </picture>
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <img class="news__svg" src="/src/assets/images/icons/video.svg" alt="video" width="32px" height="32px">
                            </a>
                        </div>
                        <div class="news__content-wrapper">
                            <a class="link--news" href="javascript:void(0);">
                                <h3 class="news__title news__title--video">Видео</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--news">Новые технологии производства коробов для скрытых дверей</p>
                            </a>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="suggestions tab-pane" data-id="1">
            <div class="suggestions__list">
                <div class="suggestions__item suggestions__item--big">
                    <div class="suggestions__media-wrapper suggestions__media-wrapper--big">
                        <a class="link--suggestions" href="javascript:void(0);">
                            <picture class="suggestions__image-group suggestions__image-group--big">
                                <img class="suggestions__image suggestions__image--big" src="../../../images/news/air.jpg" alt="air-doors">
                            </picture>
                        </a>
                    </div>
                    <div class="suggestions__content-wrapper suggestions__content-wrapper--big">
                        <a class="link--suggestions" href="javascript:void(0);">
                            <h3 class="suggestions__title suggestions__title--big suggestions__title--today">Совет дня</h3>
                        </a>
                        <a class="link link--info link--no-line" href="javascript:void(0);">
                            <p class="text text--suggestions text--suggestions-big">Белые межкомнатные двери - какие выбрать?</p>
                        </a>
                        <time class="suggestions__time" datetime="2021-12-28">28  декабря 2021 г.</time>
                    </div>
                </div>
                <div class="suggestions__slider slider--info">
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <picture class="suggestions__image-group">
                                    <img class="suggestions__image" src="../../../images/news/air.jpg" alt="air-doors">
                                </picture>
                            </a>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="suggestions__text">Нужна ли дверь на кухню: все за и против</p>
                            </a>
                            <time class="suggestions__time" datetime="2022-02-19">19  февраля 2022 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <picture class="suggestions__image-group">
                                    <img class="suggestions__image" src="../../../images/news/batimat-2020.jpg" alt="batimat2020">
                                </picture>
                            </a>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--suggestions">Двухстворчатые межкомнатные двери: особенности, материалы, размеры</p>
                            </a>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <picture class="suggestions__image-group">
                                    <img class="suggestions__image" src="../../../images/news/air.jpg" alt="air-doors">
                                </picture>
                            </a>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="suggestions__text">Одинаковые или разные межкомнатные двери: что выбрать?</p>
                            </a>
                            <time class="suggestions__time" datetime="2022-03-22">22  марта 2022 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="suggestions__text">Размеры входных дверей: стандарты ключевых параметров</p>
                            </a>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <picture class="suggestions__image-group">
                                    <img class="suggestions__image" src="../../../images/news/batimat-2020.jpg" alt="batimat2020">
                                </picture>
                            </a>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="text text--suggestions">Монтаж двери с добором: все особенности выполнения работ</p>
                            </a>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="suggestions__text">Сколько доборов потребуется для установки одной двери?</p>
                            </a>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <a class="link--suggestions" href="javascript:void(0);">
                                <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                            </a>
                            <a class="link link--info link--no-line" href="javascript:void(0);">
                                <p class="suggestions__text">Как выбрать дверь в ванную комнату</p>
                            </a>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-wrapper">
            <a class="info__link info__link--news tab-pane tab-pane-show" data-id="0" href="javascript:void(0);">
                <span class="text text--info">Все новости</span>
            </a>
            <a class="info__link info__link--suggestions tab-pane" data-id="1" href="javascript:void(0);">
                <span class="text text--info">Все советы</span>
            </a>
            <div class="pagination">
                <button class="arrow arrow--news-prev"></button>
                <button class="arrow arrow--news-next"></button>
            </div>
        </div>
    </Container>
</section>


<script src="./script.js"></script>