---
import Button from '@components/uikit/Button/Button.astro'
import './styles.scss'
import Container from '@components/container/container.astro'
import Link from '@components/uikit/Link/Link.astro'
import Text from '@components/uikit/Text/Text.astro'
import Arrow from '@components/uikit/Arrow/Arrow.astro'
import Title from '@components/uikit/Title/Title.astro'
import Picture from '@components/Picture/Picture.astro'
---

<section class="info tab" id="tab-1">
    <Container>
        <div class="info__wrapper">
            <Title class="info">Новости и советы</Title>
            <div class="info__button-wrapper tab-nav">
                <Button class="button--news tab-btn tab-btn-active" data-target-id="0">Новости</Button>
                <Button class="button--suggestions tab-btn" data-target-id="1">Советы</Button>
            </div>
        </div>
        <div class="news tab-pane tab-pane-show" data-id="0">
            <div class="news__list">
                <div class="news__item news__item--big">
                    <div class="news__media-wrapper news__media-wrapper--big">
                        <Link class="link--news" href="javascript:void(0);">
                            <Picture
                            classPicture="news__image-group"
                            modPicture="big"
                            classImage="news__image"
                            modImage="big"
                            image="../../../images/news/ultratex-tablet.jpg"
                            srcset={[
                                {src: "../../../images/news/ultratex-tablet.webp", type: "image/webp"},
                                {src: "../../../images/news/ultratex-desktop.jpg", media: "(min-width: 768px)", type: "image/jpg"},
                                {src: "../../../images/news/ultratex-desktop.webp", media: "(min-width: 768px)", type: "image/webp"},
                            ]}
                            alt="ultratex"
                            />
                        </Link>
                    </div>
                    <div class="news__content-wrapper news__content-wrapper--big">
                        <Link class="link--news" href="javascript:void(0);">
                            <Title class="news title--news-big">Новости и СМИ о нас</Title>
                        </Link>
                        <Link class="link--info link--no-line" href="javascript:void(0);">
                            <Text class="news text--news-big">Новые продукты <span class="news__dash">-</span> коллекция покрытий Boonlayer Ultratex и Boonlayer Original</Text>
                        </Link>
                        <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                    </div>
                </div>
                <div class="news__slider slider--info">
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Picture
                                classPicture="news__image-group"
                                classImage="news__image"
                                image="../../../images/news/batimat-2020.jpg"
                                srcset={[{src: "../../../images/news/batimat-2020.webp"}]}
                                alt="batimat2020"
                                />
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="title title--news">Выставки</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <img class="news__svg" src="/src/assets/images/icons/video.svg" alt="video" width="32px" height="32px">
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Видео</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Новые технологии производства коробов для скрытых дверей</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Picture
                                classPicture="news__image-group"
                                classImage="news__image"
                                image="../../../images/news/air.jpg"
                                srcset={[{src: "../../../images/news/air.webp"}]}
                                alt="air-doors"
                                />
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Picture
                                classPicture="news__image-group"
                                classImage="news__image"
                                image="../../../images/news/batimat-2020.jpg"
                                srcset={[{src: "../../../images/news/batimat-2020.webp"}]}
                                alt="batimat2020"
                                />
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Выставки</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper"></div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Введены новые оригинальные покрытия серии BOONLAYER</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Picture
                                classPicture="news__image-group"
                                classImage="news__image"
                                image="../../../images/news/batimat-2020.jpg"
                                srcset={[{src: "../../../images/news/batimat-2020.webp"}]}
                                alt="batimat2020"
                                />
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Выставки</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">ESTET на&nbsp;Международной строительно-интерьерной выставке Batimat 2020</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Picture
                                classPicture="news__image-group"
                                classImage="news__image"
                                image="../../../images/news/air.jpg"
                                srcset={[{src: "../../../images/news/air.webp"}]}
                                alt="air-doors"
                                />
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Новости и СМИ о нас</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="news__item news__item--small">
                        <div class="news__media-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <img class="news__svg" src="/src/assets/images/icons/video.svg" alt="video" width="32px" height="32px">
                            </Link>
                        </div>
                        <div class="news__content-wrapper">
                            <Link class="link--news" href="javascript:void(0);">
                                <Title class="news">Видео</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="news">Новые технологии производства коробов для скрытых дверей</Text>
                            </Link>
                            <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="suggestions tab-pane" data-id="1">
            <div class="suggestions__list">
                <div class="suggestions__item suggestions__item--big">
                    <div class="suggestions__media-wrapper suggestions__media-wrapper--big">
                        <Link class="link--suggestions" href="javascript:void(0);">
                            <Picture
                            classPicture="suggestions__image-group"
                            modPicture="big"
                            classImage="suggestions__image"
                            modImage="big"
                            image="../../../images/news/air.jpg"
                            srcset={[{src: "../../../images/news/air.webp", type: "image/webp"}]}
                            alt="air-doors"
                            />
                        </Link>
                    </div>
                    <div class="suggestions__content-wrapper suggestions__content-wrapper--big">
                        <Link class="link--suggestions" href="javascript:void(0);">
                            <Title class="suggestions title--suggestions-big">Совет дня</Title>
                        </Link>
                        <Link class="link--info link--no-line" href="javascript:void(0);">
                            <Text class="suggestions text--suggestions-big">Белые межкомнатные двери - какие выбрать?</Text>
                        </Link>
                        <time class="suggestions__time" datetime="2021-12-28">28  декабря 2021 г.</time>
                    </div>
                </div>
                <div class="suggestions__slider slider--info">
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Picture
                                classPicture="suggestions__image-group"
                                classImage="suggestions__image"
                                image="../../../images/news/air.jpg"
                                srcset={[{src: "../../../images/news/air.webp"}]}
                                alt="air-doors"
                                />
                            </Link>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет дня</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Нужна ли дверь на кухню: все за и против</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2022-02-19">19  февраля 2022 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Picture
                                classPicture="suggestions__image-group"
                                classImage="suggestions__image"
                                image="../../../images/news/batimat-2020.jpg"
                                srcset={[{src: "../../../images/news/batimat-2020.webp"}]}
                                alt="batimat2020"
                                />
                            </Link>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет дня</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Двухстворчатые межкомнатные двери: особенности, материалы, размеры</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Picture
                                classPicture="suggestions__image-group"
                                classImage="suggestions__image"
                                image="../../../images/news/air.jpg"
                                srcset={[{src: "../../../images/news/air.webp"}]}
                                alt="air-doors"
                                />
                            </Link>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет дня</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Одинаковые или разные межкомнатные двери: что выбрать?</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2022-03-22">22  марта 2022 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет года</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Размеры входных дверей: стандарты ключевых параметров</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Picture
                                classPicture="suggestions__image-group"
                                classImage="suggestions__image"
                                image="../../../images/news/batimat-2020.jpg"
                                srcset={[{src: "../../../images/news/batimat-2020.webp"}]}
                                alt="batimat2020"
                                />
                            </Link>
                        </div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет дня</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Монтаж двери с добором: все особенности выполнения работ</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет года</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Сколько доборов потребуется для установки одной двери?</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                    <div class="suggestions__item suggestions__item--small">
                        <div class="suggestions__media-wrapper"></div>
                        <div class="suggestions__content-wrapper">
                            <Link class="link--suggestions" href="javascript:void(0);">
                                <Title class="suggestions">Совет года</Title>
                            </Link>
                            <Link class="link--info link--no-line" href="javascript:void(0);">
                                <Text class="suggestions">Как выбрать дверь в ванную комнату</Text>
                            </Link>
                            <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-wrapper">
            <Link class="link--info-news tab-pane tab-pane-show" data-id="0" href="javascript:void(0);">
                <Text class="info">Все новости</Text>
            </Link>
            <Link class="link--info-suggestions tab-pane" data-id="1" href="javascript:void(0);">
                <Text class="info">Все советы</Text>
            </Link>
            <div class="pagination">
                <Arrow mod='info' direction='left'/>
                <Arrow mod='info' direction='right'/>
            </div>
        </div>
    </Container>
</section>


<script src="./script.js"></script>