---
import './styles.scss'
import Container from '@components/container/container.astro'
---

<div class="news-and-suggestions">
    <Container>
        <h2 class="title--main">Новости и советы</h2>
        <div class="news">
            <button class="news__button">Новости</button>
            <ul class="news__list">
                <li class="news__item news__item--big">
                    <a class="news__link" href="javascript:void(0);">
                        <picture class="news__image-group">
                            <img class="news__image" src="../../../images/home/ultratex.jpg" alt="ultratex">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                    </a>
                    <p class="news__text">Новые продукты ‒ коллекция покрытий Boonlayer Ultratex и Boonlayer Original</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <picture class="news__image-group">
                            <img class="news__image" src="../../../images/home/batimat2020.jpg" alt="batimat2020">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--exhibition">Выставки</h3>
                    </a>
                    <p class="news__text">ESTET на Международной строительно-интерьерной выставке Batimat 2020</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <picture class="news__image-group">
                            <img class="news__image" src="../../../images/home/air.jpg" alt="air-doors">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                    </a>
                    <p class="news__text">Жалюзные межкомнатные двери AIR поражают стилем и притягивают внимание</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <video class="news__video" src="javascript:void(0);"></video>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--video">Видео</h3>
                    </a>
                    <p class="news__text">Новые технологии производства коробов для скрытых дверей</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                    </a>
                    <p class="news__text">Введены новые оригинальные покрытия серии BOONLAYER</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                    </a>
                    <p class="news__text">Введены новые оригинальные покрытия серии BOONLAYER</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="news__item news__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="news__title news__title--news">Новости и СМИ о нас</h3>
                    </a>
                    <p class="news__text">Введены новые оригинальные покрытия серии BOONLAYER</p>
                    <time class="news__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
            </ul>
        </div>
        <div class="suggestions">
            <button class="suggestions__button">Советы</button>
            <ul class="suggestions__list">
                <li class="suggestions__item suggestions__item--big">
                    <a class="suggestions__link" href="javascript:void(0);">
                        <picture class="suggestions__image-group">
                            <img class="suggestions__image" src="../../../images/home/ultratex.jpg" alt="ultratex">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                    </a>
                    <p class="suggestions__text">Совет 1</p>
                    <time class="suggestions__time" datetime="2021-12-28">28  декабря 2021 г.</time>
                </li>
                <li class="suggestions__item suggestions__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <picture class="suggestions__image-group">
                            <img class="suggestions__image" src="../../../images/home/batimat2020.jpg" alt="batimat2020">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                    </a>
                    <p class="suggestions__text">Совет 2</p>
                    <time class="suggestions__time" datetime="2022-02-19">19  февраля 2022 г.</time>
                </li>
                <li class="suggestions__item suggestions__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <picture class="suggestions__image-group">
                            <img class="suggestions__image" src="../../../images/home/air.jpg" alt="air-doors">
                        </picture>
                    </a>
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--today">Совет дня</h3>
                    </a>
                    <p class="suggestions__text">Совет 3</p>
                    <time class="suggestions__time" datetime="2022-03-22">22  марта 2022 г.</time>
                </li>
                <li class="suggestions__item suggestions__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                    </a>
                    <p class="suggestions__text">Совет 4</p>
                    <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="suggestions__item suggestions__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                    </a>
                    <p class="suggestions__text">Совет 5</p>
                    <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
                <li class="suggestions__item suggestions__item--small">
                    <a class="news__link" href="javascript:void(0);">
                        <h3 class="suggestions__title suggestions__title--year">Совет года</h3>
                    </a>
                    <p class="suggestions__text">Совет 6</p>
                    <time class="suggestions__time" datetime="2021-01-25">25  января 2021 г.</time>
                </li>
            </ul>
        </div>
        <a class="link--news" href="javascript:void(0);">
            <span>Все новости</span>
        </a>
        <a class="link--suggestions" href="javascript:void(0);">
            <span>Все советы</span>
        </a>
    </Container>
</div>


<script src="./script.js"></script>