@import "../../../node_modules/slick-slider/slick/slick.scss";
@import "../../../node_modules/slick-slider/slick/slick-theme.scss";
@import '../../assets/styles/global.scss';

.info {
    overflow: hidden;

    ul {
        padding: 0;
    }

    ul li {
        list-style: none;
    }

    &__title {
        display: block;
        font-size: 30px;
        line-height: 41px;
        font-weight: 600;
        padding-right: 25px;
        color: var(--cl-gray-3c);
        @media (min-width: ($tablet + 'px')){
            display: inline-block;
            font-size: 36px;
            line-height: 49px;
        }
    }

    &__text {
        display: inline-block;
        font-size: 12px;
        line-height: 24px;
        padding-right: 1px;
        border-bottom: 1px solid var(--cl-green);
        color: var(--cl-green);
    }

    &__button {
        background: none;
        border: none;
        color: var(--cl-gray-3c);
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        width: 85px;
    }

    &__button--news {
        padding: 0;
        text-align: left;
    }

    &__button--suggestions {
        padding: 0;
        text-align: right;
    }

    &__button-wrapper {
        display: inline-flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--cl-gray-cd);
        width: 170px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 27px;
        padding-top: 50px;
        margin-bottom: 41px;

        @media (min-width: ($tablet + 'px')){
            gap: unset;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 45px;
            margin-bottom: 60px;
        }

        @media (min-width: ($desktop + 'px')){
            margin-bottom: 58px;
        }
    }
    &__link {
        position: relative;
        display: inline-block;
    }

    &__link--suggestions {
        display: none;
    }

    &__link--news {
        line-height: 28px;

        @media (min-width: ($tablet + 'px')){
            left: 299px;
        }

        @media (min-width: ($desktop + 'px')){
            left: calc(93.5% - 200px);
        }

        @media (min-width: ($desktop-lg + 'px')){
            left: 921px;
        }
    }

    &__active {
        color: var(--cl-green);
        border-bottom: 1px solid var(--cl-green);
    }
}

.news,
.suggestions {


    &__item--big {
        display: none;
        @media (min-width: ($tablet + 'px')){
            display: block;
        }
    }

    &__list {
        @media (min-width: ($tablet + 'px')){
            display: block;
            margin-bottom: 37px;
        }
        @media (min-width: ($desktop + 'px')){
            display: flex;
            gap: 62px;
            margin-bottom: 4px;
        }
    }

    &__title {
        font-size: 12px;
        line-height: 16px;
        color: var(--cl-green);
        margin-bottom: 11px;
        padding-right: 10px;
    }

    &__title--big {
        margin-bottom: 15px;
        @media (min-width: ($desktop + 'px')){
            margin-bottom: 13px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--cl-gray-3c);
        width: 68.8vw;
        margin-top: 0;
        margin-bottom: unset;
        @media (min-width: ($tablet + 'px')){
            width: 33.6vw;
        }
        @media (min-width: ($desktop + 'px')){
            width: 16.1vw;
        }
        @media (min-width: ($desktop-lg + 'px')){
            width: 258px;
        }
    }

    &__text--big {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: unset;
        width: auto;
        @media (min-width: ($desktop + 'px')){
            margin-bottom: 11px;
        }
    }

    &__content-wrapper {
        display: inline-block;
        position: relative;
        padding-top: 18px;
        margin-bottom: 40px;
        width: 68.8vw;
        height: 151px;
        @media (min-width: ($tablet + 'px')){
            width: 33.6vw;
        }
        @media (min-width: ($desktop + 'px')){
            width: 16.1vw;
        }
        @media (min-width: ($desktop-lg + 'px')){
            width: 258px;
        }
    }

    &__content-wrapper--big {
        width: auto;
        height: 212px;
        padding: 40px 154px 0 51px;
        margin-bottom: 97px;
        @media (min-width: ($desktop + 'px')){
            height: 198px;
            padding: 37px 140px 26px 48px;
            margin-bottom: 0;
        }
    }

    &__dash {
        font-family: 'lucida';
        font-weight: 700;
        line-height: 28px;
        font-size: 24px;
        color: var(--cl-gray-3c);
    }

    &__time {
        position: absolute;
        bottom: 0;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.3px;
        color: var(--cl-gray-99);
    }

    &__time--big {
        margin-bottom: 98px;
    }

    &__image {
        display: block;
    }

    &__image-group {
        display: block;
    }

    &__media-wrapper {
        width: 68.8vw;
        height: 37.07vw;
        @media (min-width: ($tablet + 'px')){
            width: 33.6vw;
            height: 18.1vw;
        }
        @media (min-width: ($desktop + 'px')){
            width: 16.1vw;
            height: 8.7vw;
        }
        @media (min-width: ($desktop-lg + 'px')){
            width: 258px;
            height: 139px;
        }
    }

    &__media-wrapper--big {
        width: 100%;
        height: auto;
        @media (min-width: ($desktop + 'px')){
            width: 34.875vw;
        }
        @media (min-width: ($desktop-lg + 'px')){
            width: 558px;
        }
    }

    &__slider {
        width: 156.8vw;
        margin-bottom: 8px;
        @media (min-width: ($tablet + 'px')){
        width: 117.1875vw;
        }
        @media (min-width: ($desktop + 'px')){
            width: 56.25vw;
            margin-bottom: 0;
        }
        @media (min-width: ($desktop-lg + 'px')){
            width: 900px;
        }
    }

    @media (min-width: ($desktop-lg + 'px')){
        margin-right: -200px;
        overflow: hidden;
    }
}

.news {
    display: inline;
    @media (min-width: ($desktop-lg + 'px')){
        display: block;
    }
}

.suggestions {
    display: none;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;

    @media (min-width: ($tablet + 'px')){
        margin-bottom: 117px;
    }

    @media (min-width: ($desktop + 'px')){
        margin: -7px 0 90px;
    }
}

.pagination {
    display: inline-flex;
    width: 145px;
    justify-content: space-between;
}

.arrow-info {
    padding: 0;
    background-color: var(--cl-transparent);
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.slick-slide {
    width: 156.8vw;
    @media (min-width: ($tablet + 'px')){
        width: 117.19vw;
    }
    @media (min-width: ($desktop + 'px')){
        width: 56.25vw;
    }
    @media (min-width: ($desktop-lg + 'px')){
        width: 900px;
    }
}

.news__slider .slick-active {
    opacity: 0.4;
}

.news__slider .slick-current {
    opacity: 1;
}

@media (min-width: ($tablet + 'px')){
    .news__slider .slick-current + .slick-active {
        opacity: 1;
    }
}