---
import Link from '@components/uikit/Link/Link.astro';
import './style.scss';
import Container from '@components/container/container.astro';

const pinTemplate = {
    "addres": "Такой&nbsp;то&nbsp;адрес",
    "href": "javascript:void(0);",
    "tel": "8&nbsp;960&nbsp;960&nbsp;96&nbsp;95",
    "telHref": "tel:89609609695"
}
---

<Container >
    <div class="map" id="map">
        <template id="pinTemplate">
            <div class="map__pin">
                <div class="map__descr">
                    <span class="map__addres">
                        Адрес: <Link href={pinTemplate.href} class='link--map'>{pinTemplate.addres}</Link>
                    </span>
                    <span class="map__phone">
                        Номер: <Link href={pinTemplate.telHref} class='link--map'>{pinTemplate.tel}</Link>
                    </span>
                </div>
            </div>
        </template>
    </div>
</Container>

<script src="./script.js"></script>
<script src="http://localhost:4000/api/yandex-maps"></script>