@use "sass:math";
// Fonts
$font-base: 'opensans';

// Animation
$animation-time: 0.3s;
$double-animation: 0.6s;

// Settings
$desktop-xl: 1920;
$desktop-lg: 1600;
$laptop: 1440;
$desktop-md: 1365;
$desktop: 1280;
$desktop-min: 1024;
$tablet: 768;
$mobile: 360;
$desktop-vh: 660px;

// vmin - для мобильных устройств
@mixin vmin($property, $value, $mobile) {
    #{$property}: math.div($value, $mobile) * 100vmin;//calc($value / ($base * 100vmin));
}

// адаптивные стили через vw
@mixin vw($property, $value, $base) {
    #{$property}: math.div($value, $base) * 100vw;
}

// пиксельные стили для 1920+
@mixin fullhd($property, $value){
    #{$property}: calc($value * ($desktop-xl) / $laptop);
}

// обычные пиксельные стили
@mixin px($property, $value, $base) {
    #{$property}: calc($value * ($base) / $base);
}

// vh - для адаптации стилей под высоту страницы
@mixin vh($property, $value, $desktop-vh) {
    #{$property}: calc($value / $desktop-vh * 100vh);
}

@function strip-unit($value) {
    @return math.div($value, ($value * 0 + 1));
    }
    @mixin fluid($property, $min-vw, $max-vw, $min-value, $max-value) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-value);
    $u4: unit($max-value);
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        #{$property}: $min-value;
        @media screen and (min-width: $min-vw) {
            #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
            #{$property}: $max-value;
        }
        }
    }
}

// Примеры использования миксинов
// @include vmin(font-size, 150px, 660px);
// @include vh(font-size, 150px, 660px);
// @include px(font-size, 150px, 1440);
// @include vw(font-size, 150px, 1440px);
// @include fullhd(font-size, 150px);
// @include fluid(font-size, 1920px, 2560px, 120px, 410px);

// MediaQ - теперо подключаются в layout
// $desktop: ~"(max-width: 1439px)";
// $desktop-min: ~"(max-width: 1169px)";
// $tablet: ~"(max-width: 1023px)";
// $mobile: ~"(max-width: 767px)";

// // Alpha colors
// // $cl-alpha: rgba(255, 255, 255, .2); // цвет + описание


:root {
    --cl-transparent: transparent;
    --cl-white: #ffffff;
    --cl-black: #000000;
    --cl-gray: #dddddd;
    // --cl-pure-or-mostly-pure-red: #ff0000;
    // --cl-very-dark-gray-mostly-black: #212121;
    --cl-gray-3c: #3c3c3c;
    --cl-gray-99: #999999;
    --cl-green: #1e8a47;
    --cl-gray-d8: #d8d8d8;
    --cl-gray-f7: #f7f7f7;
    --cl-gray-97: #979797;
    --cl-gray-cd: #cdcdcd;
    --cl-gray-ba: #bababa;
    --cl-gray-fe: #fefefe;
    --cl-gray-31: #313131;
    --cl-gray-e0: #e0e0e0;
    --cl-gray-f0: #f0f0f0;
    --cl-gray-f9: #f9f9f9;
    --cl-pink-f9: #faf8f9;
    --cl-orange: #ff5200;
    --cl-lite-green: #00c34a;
    --cl-gray-f2: #f3f1f2;
    --cl-gray-e6: #e6e6e6;
}

// Основные цвета
$cl-transparent: transparent;
$cl-white: var(--cl-white);
$cl-black: var(--cl-black);
// $cl-green: var(--cl-green);
// $cl-light-green: var(--cl-light-green);
// $cl-gray: #dddddd;
// $cl-pure-or-mostly-pure-red: #ff0000;
$cl-very-dark-gray-mostly-black: var(--cl-very-dark-gray-mostly-black);
// Генерируемые цвета - ниже не пишем ничего сами )

// Цвета текста
$cl-font-main: var(--cl-black);
$cl-font-light: var(--cl-gray);
// Colors
$cl-green: var(--cl-green);
$cl-gray-3c: var(--cl-gray-3c);
$cl-gray-99: var(--cl-gray-99);
$cl-gray-d8: var(--cl-gray-d8);
$cl-gray-f7: var(--cl-gray-f7);
$cl-gray-97: var(--cl-gray-97);
$cl-gray-cd: var(--cl-gray-cd);
$cl-gray-ba: var(--cl-gray-ba);
$cl-dark-gray: var(--cl-dark-gray);
$cl-light-gray: var(--cl-light-gray);
$cl-gray: var(--cl-gray);
$cl-cl-gray-fe: var(--cl-gray-fe);
$cl-cl-gray-31: var(--cl-gray-31);
$cl-gray-e0: var(--cl-gray-e0);
$cl-gray-f0: var(--cl-gray-f0);
$cl-cl-gray-f9: var(--cl-gray-f9);
$cl-pink-f9: var(--cl-pink-f9);
$cl-orange: var(--cl-orange);
$cl-lite-green: var(--cl-lite-green);
$cl-gray-f2: var(--cl-gray-f2);
// Цвета theme. Не трогать!!!
$cl-theme-global: var(--cl-font-main);
$cl-theme-link: var(--cl-font-main);
$cl-theme-link-hover: var(--cl-font-light);
$cl-theme-grey: var(--cl-gray);
$cl-gray-e6: var(--cl-gray-e6);

/* Добавлять по категориям cl-элемент
/* $cl-button-bg: $Var */

// Общий док
$background: var(--cl-white);

// разделитель между секция
$hr-main: var(--cl-gray);

// элементы формы (input, textarea, select, etc)
$form-back: var(--cl-white);
$form-border: var(--cl-gray);

// Checkbox
$checkbox-back: var(--cl-gray);
$checkbox-back-hover: var(--cl-gray);
$checkbox-back-checked: var(--cl-font-main);
$check-mark: var(--cl-white);

// Radiobutton
$radio-back: var(--cl-white);

// кнопки с бэком без бордера
$button-main-back: var(--cl-black);
$button-main-hover: var(--cl-gray);
$button-main-active: var(--cl-gray);

// кнопки прозрачные
$button-transparent-back: var(--cl-transparent);
$button-transparent-hover: var(--cl-gray);
$button-transparent-active: var(--cl-gray);


/* Light mode */
// @media (prefers-color-scheme: light) {
//     body {
//         background-color: var(--cl-white);
//         color: var(--cl-black);
//     }
// }

/* Dark mode */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: var(--cl-black);
//         color: var(--cl-white);
//     }
// }