---
import './style.scss'

export interface Props {
    from: number;
    to: number;
    step?: number;
}

let {from, to, step} = Astro.props;

if (!step) {step = 1};
---

<div class="price-slider">
    <label class="price-slider__label" for="price-from">
        <div class="price-slider__currency"></div>
        <input type="number" class="price-slider__input" name="price-from">
    </label>

    <label class="price-slider__label" for="price-to">
        <span class="price-slider__currency"></span>
        <input type="number" class="price-slider__input" name="price-to">
    </label>

    <div id="sliderPrice" class="price-slider__slider-price" data-min={from} data-max={to} data-step={step}></div>
</div>

<script src="./script.js"></script>