<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<main>
            <div>
        <i class="icon icon-arrow-108" /> - 
        <span class="icon-text">&lt;icon class="icon icon-arrow-108" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-arrow-26" /> - 
        <span class="icon-text">&lt;icon class="icon icon-arrow-26" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-basket" /> - 
        <span class="icon-text">&lt;icon class="icon icon-basket" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-burger-close" /> - 
        <span class="icon-text">&lt;icon class="icon icon-burger-close" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-burger" /> - 
        <span class="icon-text">&lt;icon class="icon icon-burger" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-facebook" /> - 
        <span class="icon-text">&lt;icon class="icon icon-facebook" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-filter" /> - 
        <span class="icon-text">&lt;icon class="icon icon-filter" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-five" /> - 
        <span class="icon-text">&lt;icon class="icon icon-five" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-glass" /> - 
        <span class="icon-text">&lt;icon class="icon icon-glass" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-heart-fill" /> - 
        <span class="icon-text">&lt;icon class="icon icon-heart-fill" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-heart" /> - 
        <span class="icon-text">&lt;icon class="icon icon-heart" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-instagram" /> - 
        <span class="icon-text">&lt;icon class="icon icon-instagram" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-kontora" /> - 
        <span class="icon-text">&lt;icon class="icon icon-kontora" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-language-be" /> - 
        <span class="icon-text">&lt;icon class="icon icon-language-be" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-language-en" /> - 
        <span class="icon-text">&lt;icon class="icon icon-language-en" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-language" /> - 
        <span class="icon-text">&lt;icon class="icon icon-language" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-like-white" /> - 
        <span class="icon-text">&lt;icon class="icon icon-like-white" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-like" /> - 
        <span class="icon-text">&lt;icon class="icon icon-like" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-location" /> - 
        <span class="icon-text">&lt;icon class="icon icon-location" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-logo-gradient" /> - 
        <span class="icon-text">&lt;icon class="icon icon-logo-gradient" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-logo-white" /> - 
        <span class="icon-text">&lt;icon class="icon icon-logo-white" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-loupe" /> - 
        <span class="icon-text">&lt;icon class="icon icon-loupe" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-map-pin" /> - 
        <span class="icon-text">&lt;icon class="icon icon-map-pin" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-next-arrow" /> - 
        <span class="icon-text">&lt;icon class="icon icon-next-arrow" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-pause" /> - 
        <span class="icon-text">&lt;icon class="icon icon-pause" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-pensil-ruler" /> - 
        <span class="icon-text">&lt;icon class="icon icon-pensil-ruler" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-phone" /> - 
        <span class="icon-text">&lt;icon class="icon icon-phone" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-play" /> - 
        <span class="icon-text">&lt;icon class="icon icon-play" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-prev-arrow" /> - 
        <span class="icon-text">&lt;icon class="icon icon-prev-arrow" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-reset" /> - 
        <span class="icon-text">&lt;icon class="icon icon-reset" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-shape" /> - 
        <span class="icon-text">&lt;icon class="icon icon-shape" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-small-arrow" /> - 
        <span class="icon-text">&lt;icon class="icon icon-small-arrow" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-telegram" /> - 
        <span class="icon-text">&lt;icon class="icon icon-telegram" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-tiny-arrow" /> - 
        <span class="icon-text">&lt;icon class="icon icon-tiny-arrow" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-viber" /> - 
        <span class="icon-text">&lt;icon class="icon icon-viber" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-video" /> - 
        <span class="icon-text">&lt;icon class="icon icon-video" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-vk" /> - 
        <span class="icon-text">&lt;icon class="icon icon-vk" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-year" /> - 
        <span class="icon-text">&lt;icon class="icon icon-year" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-youtube-video" /> - 
        <span class="icon-text">&lt;icon class="icon icon-youtube-video" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    <div>
        <i class="icon icon-youtube" /> - 
        <span class="icon-text">&lt;icon class="icon icon-youtube" /&gt;</span>
        <span class="tooltip">Скопировано!</span>
    </div>
    </main>
</body>  
</html>


<script is:inline>
    class IconActionController {
        get copyTriggerElements () {
            return document.querySelectorAll('div')
        }


        addHandlerCopyAction () {
            const self = this
            this.copyTriggerElements.forEach(el => {
                el.addEventListener('click', function () {
                    self.removeAllCopyClass()
                    const spanElement = this.querySelector('.icon-text')
                    this.classList.add('copy')
                    const content = spanElement.textContent
                    navigator.clipboard.writeText(content)
                    setTimeout(() => {
                        this.classList.remove('copy')
                    }, 1000)
                })
            })
        }

        removeAllCopyClass () {
            this.copyTriggerElements.forEach(el => {
                el.classList.remove('copy')
            })
        }

        init () {
            this.addHandlerCopyAction()
        }
    }

    class IconsPageController {
        static init () {
            const iconActionController = new IconActionController()
            iconActionController.init()
        }
    }

    IconsPageController.init()
</script>

<style lang="scss">
    @import url('../../../public/fonts/webfont-icons/icons.css');

    div {
        padding: 15px 0;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            background-color: #8e8d8d2b;
        }

        .tooltip {
            margin-left: 30px;
            opacity: 0;
            transition: all 0.5s ease;
        }

        &.copy .tooltip {
            opacity: 1;
        }
    }
</style>
