---
import Button from '@components/uikit/Button/Button.astro'
import './style.scss'
import Container from '@components/container/container.astro'
---

<section class="banner">
    <Container>
        <div class="banner__content">
            <p class="banner__title">Подберем интерьерное решение?</p>
            <div class="banner__wrapper">
                <div class="banner__gradient">
                    <p class="banner__descr">Ответьте на&nbsp;мои 10&nbsp;вопросов, и&nbsp;я&nbsp;покажу вам вариант вашей мечты</p>
                </div>
                <Button class="button button--size">Подобрать</Button>
            </div>
            <picture class="banner__picture">
                <source srcset="/images/banner/banner-desktop.webp" type="image/webp" media="(min-width:1024px)" >
                <source srcset="/images/banner/banner-desktop.jpg" type="image/jpg" media="(min-width:1024px)" >
                <source srcset="/images/banner/banner.webp" type="image/webp"/>
                <img class="banner__image" src="/images/banner/banner.jpg" alt="">
            </picture>
        </div>
    </Container>
</section>

<script src="./script.js"></script>